$txt: #222424
$light: #fdfdfd
$main-clr: #3469F7
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap')

@mixin box($paddingT, $paddingR, $paddingB, $paddingL)
    background: rgba($light ,0.6 )
    border-radius: 12px
    padding: $paddingT $paddingR $paddingB $paddingL
@mixin currency($fontWeight, $fontSize)
    font-weight: $fontWeight
    font-size: $fontSize
    &::before
        content: '$'
        font-size: 20px
@mixin flex($justify-content, $align-items)
    display: flex
    justify-content: $justify-content
    align-items: $align-items
@mixin default-btn($borderRadius)
    border: none
    background: $light
    box-shadow: 0 2px 5px rgba($txt, 0.03)
    color: $main-clr
    border-radius: $borderRadius
    padding: 0.5rem 1rem
    font-size: 12px
    &.active
        background: $main-clr
        box-shadow: none
        color: $light
@mixin toggle
    padding: 4px 16px 4px 8px
    position: relative
    background: $light
    border: 1px solid rgba($main-clr ,0.3 )
    border-radius: 50px
    p
        display: inline-block
    &::after
        content: ''
        position: absolute
        right: 4px
        bottom: 0
        transform: translateY(-65%)
        width: 0
        height: 0
        border: .3em solid rgba($main-clr ,1 )
        border-color: rgba($main-clr ,1 ) transparent transparent transparent 
a
    color: $txt

// =======================================
body
    font-family: "Noto Sans", "Arial", sans-serif
    height: 100vh
    scroll-behavior: smooth
    position: relative
    color: $txt
    &::before
        content: ''
        position: fixed
        left: 0
        top: 0
        width: 100vw
        height: 100vh
        background: url('../library/img-common/img-project/UI/BANK/BANK-bg.png') center
        background-size: cover
        cursor: none
        pointer-events: none
        z-index: -1
    &:has(.dropdown-menu.show)
        overflow: hidden
        &::after
            content: ''
            position: fixed
            left: 0
            top: 0
            width: 100vw
            height: 100vh
            background: #000000bc
            z-index: 0
    &.overflow
        position: relative
        overflow: hidden
        .wrapper
            @include flex(center , center )
            flex-direction: column
            width: 100%
            z-index: 10
            > p
                display: block
                text-align: center
                width: 100%
                font-size: 12px
                margin: 4px 0
                text-transform: capitalize
                color: rgba($txt ,0.9 )

        .logo
            left: 50% !important
            transform: translateX(-50%) !important
    nav
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 40px
        padding: 8px 24px
        text-align: center
        background: rgba($light ,0.9 )
        text-transform: capitalize
       
        > a.icon
            position: absolute
            left: calc( 24px / 2 + 4px )
            top: 10px
        .logo
            transform: translateX(0) !important
            left: 20px !important
            top: 0px !important
            height: 32px
            img
                position: absolute
                left: 0
                top: 0
                width: 100%
                height: 100%
                object-fit: contain
    .box-right
        position: absolute
        right: calc( 24px / 2 + 4px )
        top: 8px
        a.icon
            color: $main-clr
    // ----------------------------------------------------
    .icon.face
        width: 100px
        height: 100px
        position: relative
        padding: 20px
        img
            position: absolute
            top: 50%
            left: 50%
            width: calc( 100% - 40px )
            height: calc( 100% - 40px )
            transform: translate(-50%, -50%)
            object-fit: contain
    a.logo
        position: absolute
        left: 50%
        top: -40px
        transform: translate(-50%, 0%)
        aspect-ratio: 2 / 1
        height: 40px
    a.link
        display: block
        text-align: center
        width: 100%
        font-size: 12px
        margin: 4px 0
        text-transform: capitalize
        color: rgba($txt ,0.4 )
    .default-btn
        @include default-btn(12px)
        background: $main-clr
        color: $light
        width: 100%
        font-size: 20px
        line-height: 30px
        margin: 12px 0
        text-align: center
    .icon
        background: transparent
        text-align: center
        color: $txt
        font-size: 14px
        width: auto
        border-radius: 4px
        transition: 0.2s ease-in-out
        vertical-align: middle
        &:hover
            background: rgba($main-clr ,0.02 )
        i
            width: 25px
            height: 25px
            line-height: 25px
    .toggle
        @include toggle
    .txt-currency
        @include currency(500 , 20px )
    .dropdown-menu
        position: fixed
        bottom: -100%
        left: 0
        width: 100%
        display: none
        flex-direction: column
        justify-content: flex-start
        align-items: flex-start
        border-radius: 12px 12px 0 0
        padding: 8px 12px
        border-color: rgba($main-clr ,0.3 )
        height: 0
        transform-origin: bottom
        overflow-y: auto
        box-shadow: inset 0 3px 0 $main-clr
        transition: all 0.5s linear
        li
            width: 100%
            text-align: center
            padding: 8px 0
            color: $txt
            border-bottom: 1px solid rgba($txt ,0.05 )
        &.show
            display: flex
            height: 50vh
            bottom: 0
    .creditBox
        position: relative
        width: 100%
        border-radius: 12px
        padding: 24px
        margin: 12px 0
        box-shadow: 0px 2px 4px rgba($txt, 0.25)
        background: rgba($main-clr ,0.02 )
        backdrop-filter: blur(3px)
        height: 45vw
        &:last-child
            background: rgba($main-clr ,1 )
            color: $light
        h2
            margin-bottom: 18px
        h6
            font-size: 14px
            font-style: italic
            font-weight: 300
            text-transform: capitalize
        a.icon
            position: absolute
            right: 12px
            bottom: 12px
            background: $light
            color: $main-clr
            padding: 8px 20px
            border-radius: 50px
            font-size: 1.3rem
    // ----------------------------------------------------
    .wrapper
        position: relative
        margin-top: 50px
        padding: 8px 24px
        .tab-content
            padding-top: 12px
        .nav-tabs
            justify-content: center
            border: none
            &#transferTab
                gap: 4px
                .nav-link
                    border-radius: 8px
                    
            .nav-item
                width: fit-content
                order: 1
                flex-grow: 1
                text-align: center
                font-size: 12px
                text-transform: capitalize
                &:first-child
                    .nav-link
                        border-radius: 8px 0 0 8px
                .nav-link
                    @include default-btn(0 8px 8px 0)
        .object
            @include box(4px, 0, 12px, 0)
            margin-bottom: 12px
            .object-top
                font-size: 12px
                a.icon
                    transform: scale(0.7)
            .object-top,
            .txt-currency
                text-align: center
                text-transform: uppercase
            .txt-currency
                @include currency(500, 30px)
                
            small
                display: block
                font-size: 12px
                width: 100%
                text-align: center
                color: rgba($txt ,0.6 )
                margin-top: 12px
                .txt-currency,
                .txt-currency::before
                    line-height: normal
                    font-size: 12px
                    display: inline-block
                .icon
                    i
                        width: auto
                        height: auto
                        line-height: normal
                        color: rgba($txt ,0.6 )
                        font-size: 10px
            &.center
                .object-top,
                .txt-currency
                    text-align: left
            &.dark
                padding: 8px 8px 12px 8px
                background: $txt
                color: $light
                margin-bottom: 20px
                p, a
                    color: $light
                .object-top
                    text-align: left
                    margin: 8px 0
                    font-weight: 600

            
        .botton-group
            @include flex(center , center )
            gap: 12px
            width: 100%
            margin: 20px 0
            div
                width: calc( 50% - 6px )
                @include default-btn(8px)
                text-transform: capitalize
                text-align: center
            .cash
                box-shadow: inset 0 0 0 1px $main-clr
            .online
                background: $main-clr
                color: $light
        .function
            display: flex
            justify-content: center
            align-items: center
            gap: 4px
            width: 100%
            padding: 6px 0
            .function-item
                position: relative
                width: inherit
                font-size: 12px
                background: $light
                @include flex(flex-start, center)
                gap: 4px
                border-radius: 4px
                padding: 0px 2px
                color: $main-clr
                box-shadow: 0 2px 5px rgba($txt, 0.03)
                height: 35px
                .icon
                    i
                        width: 20px
                        height: 20px
                        line-height: 20px
                        color: $main-clr
                        font-size: 14px
                p
                    font-size: 10px
                    display: inline-block
                    text-transform: capitalize
                    line-height: 150%
                &.active
                    background: $main-clr
                    color: $light
                    .icon
                        i
                            color: $light
        .list
            margin-top: 12px
            .list-title
                position: relative
                font-size: 12px
                font-weight: 500
                text-transform: capitalize
                margin: 20px 0
                &.middle
                    margin: 12px 0 8px 0
                    color: rgba($txt ,0.6 )
                    padding: 0 8px
                    @include flex(space-between, center )
                    small
                        width: auto
                .toggle
                    transform: scale(0.8)
                small
                    display: inline-flex
                    justify-content: flex-end
                    align-items: center
                    width: 79%
                    white-space: nowrap
                    right: 0
                    font-size: 9px
                    color: rgba($txt ,0.3 )
                    a.icon
                        transform: scale(0.7)
                        color: rgba($txt ,0.3 )
            &:has(.list-tab)
                .list-container .list-item
                    border-radius: 0
            .list-tab
                @include box(8px, 44px, 8px, 8px)
                border-radius: 12px 12px 0 0
                @include flex(space-between, center)
                border-bottom: 2px solid $light
                
                p
                    font-size: 10px
                    text-transform: capitalize
                    &:first-child
                        width: 40%

            .list-container
                small
                    position: relative
                    display: block
                    width: 100%
                    font-size: 12px
                    text-align: right
                    color: rgba($txt ,0.7 )
                    background: rgba($light ,0.6 )
                    border-radius: 0 0 12px 12px
                    padding: 8px
                    
                .list-item
                    border-radius: 0
                    margin: 0
                    border-bottom: 1px solid $light
                    &:last-child
                        border: none
                        border-radius: 0 0 12px 12px
            .list-item
                position: relative
                @include box(12px, 8px, 12px, 8px)
                @include flex(space-between , center)
                margin-bottom: 8px
                color: $txt
                &:nth-of-type(even)
                    background: $light
                &:has(.account-group)
                    @include flex(space-between , center)
                    gap: 8px
                &.block
                    display: block
                    .icon
                        position: absolute
                        top: 6px
                        right: 8px
                .account-group
                    width: 100%
                    .account-num
                        line-height: 20px
                        font-size: 12px
                        color: $txt

                .account-num
                    font-size: 12px
                    font-weight: 500
                    
                .state
                    @include flex(space-between , center)
                    flex-wrap: wrap
                    text-transform: capitalize
                    color: $txt
                    width: 30%
                    font-size: 12px
                    &.complete
                        color: #158234
                    small
                        width: 100%
                        text-align: right
                        font-size: 10px
                        color: rgba($txt ,0.5 )

                .country
                    position: relative
                    width: 30px
                    height: 30px
                    border-radius: 100px
                    overflow: hidden
                    img
                        position: absolute
                        left: 0
                        top: 0
                        width: 100%
                        height: 100%
                        object-fit: cover
                        object-position: center
                .list-top
                    width: 12%
                    display: inline-block
                    vertical-align: middle
                    font-size: 12px
                    & ~ .icon
                        color: $txt
                        i
                            font-size: 12px
                            width: 20px
                            height: 20px
                            line-height: 20px
                    & ~ .list-center
                        display: inline-block
                        white-space: nowrap
                        width: calc( 60% - 50px )
                        text-overflow: ellipsis
                        overflow: hidden
                        vertical-align: middle
                        font-size: 12px
                    & ~ .list-right
                        width: 30%
                        text-align: right
                        margin: 0
                        vertical-align: middle
                        white-space: nowrap
                        .txt-currency
                            font-size: 12px
                            &::before
                                font-size: 12px
                .list-bottom
                    display: flex
                    align-items: flex-end
                    margin-top: 40px
                    justify-content: flex-end
                    &:has(.date)
                        justify-content: space-between
                .list-center
                    display: inline-flex
                    justify-content: flex-start
                    align-items: center
                    .balance
                        .txt-currency
                            text-align: left
                    &.flex
                        @include flex(center, flex-start)
                        flex-direction: column
                        span
                            color: rgba($txt ,0.5 )
                .list-right
                    display: inline-block
                    width: calc( 50% - 5px )
                    margin-left: 10px
                    position: relative
                    vertical-align: top
                    p
                        width: 45%
                        text-align: center
                        line-height: 30px
                        font-size: 12px
                        display: inline-block
                .balance
                    .txt-currency
                        text-align: right
                .date
                    font-size: 12px
                    color: rgba($txt ,0.3 )
                > a.icon
                    color: $txt
                    font-size: 12px
                .chart-container
                    display: inline-block
                    max-width: 100px
                    width: 100%
                    margin-left: 12px
                    canvas
                        max-height: 30px
        .input-box
            width: 100%
            .input-list
                .input-item
                    position: relative
                    margin: 20px 0
                    &:hover
                        .input-label
                            color: $main-clr
                        input
                            border-color: $main-clr
                    .input-label,
                    label
                        position: relative
                        font-size: 12px
                        padding-left: 12px
                        padding-bottom: 4px
                        text-transform: capitalize
                        color: rgba($txt ,0.8 )
                        width: 100%
                    .input-label
                        color: rgba($txt ,1 )
                        font-size: 14px
                    small
                        position: absolute
                        text-align: right
                        right: 8px
                        bottom: 4px
                        font-size: 9px
                        color: rgba($txt ,0.5 )
                    .input
                        position: relative
                    input
                        position: relative
                        width: 100%
                        outline: none
                        border: 1px solid rgba($txt ,0.3 )
                        padding: 4px 8px
                        height: 50px
                        border-radius: 8px
                        background: rgba($light ,0.7 )
                        margin: 4px 0
                        &::placeholder
                            font-size: 12px
                            color: rgba($txt ,0.3 )
                            text-transform: capitalize
                    a.icon
                        position: absolute
                        right: 8px
                        top: 50%
                        transform: translateY(-50%)
                        i
                            font-size: 18px
                            color: rgba($txt ,0.9 )
                    p
                        font-size: 14px
                        color: rgba($txt ,0.5 )
                        text-transform: capitalize
                        line-height: 15px
                        vertical-align: middle
                        margin: 8px
                        &::before
                            content: ''
                            position: relative
                            display: inline-block
                            margin-bottom: -4px
                            margin-right: 8px
                            width: 18px
                            height: 18px
                            border-radius: 4px
                            background: $light
                            border: 1px solid rgba($txt ,0.3 )
            .note
                font-size: 10px
                background: rgba($txt ,0.05 )
                border-radius: 8px
                padding: 8px
                line-height: 150%
                text-transform: capitalize
                font-weight: 300
    &.show-scan
        position: relative
        @include flex(center ,center )
        flex-direction: column
        overflow: hidden
        &::after
            content: ''
            position: fixed
            left: 0
            top: 0
            width: 100vw
            height: 100vh
            background: #000000bc
            z-index: 0
        div
            position: relative
            width: 80vw
            aspect-ratio: 1/1
            // border: 8px solid $light
            border-radius: 20px
            @include flex(center ,center )
            &::before,
            &::after
                content: ""
                position: absolute
                width: 25%
                height: 25%
                border: 8px solid $light
            &::before
                top: -8px
                left: -8px
                border-right: none
                border-bottom: none
                border-top-left-radius: 20px
            &::after
                bottom: -8px
                right: -8px
                border-left: none
                border-top: none
                border-bottom-right-radius: 20px
            z-index: 10
        i
            position: relative
            text-align: center
            color: $light
            font-size: 18rem
        a.icon
            background: $txt
            border-radius: 50px
            width: 50px
            height: 50px
            text-align: center
            margin-top: 30px
            z-index: 1
            i
                font-size: 30px
                line-height: 50px
        a
            color: $light
            text-decoration: underline
            text-transform: capitalize
            font-size: 18px
            z-index: 10
            margin: 10px 0