$txt: #222424
$light: #fdfdfd
$main-clr: #3469F7
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap')

@mixin box($paddingT, $paddingR, $paddingB, $paddingL)
    background: rgba($light ,0.6 )
    border-radius: 12px
    padding: $paddingT $paddingR $paddingB $paddingL
@mixin currency($fontWeight, $fontSize)
    font-weight: $fontWeight
    font-size: $fontSize
    &::before
        content: '$'
        font-size: 20px
    

body
    font-family: "Noto Sans", "Arial", sans-serif
    min-height: 100vh
    scroll-behavior: smooth
    position: relative
    color: $txt
    &::before
        content: ''
        position: fixed
        left: 0
        top: 0
        width: 100vw
        height: 100vh
        background: url('../library/img-common/img-project/UI/BANK/BANK-bg.png') center
        background-size: cover
        z-index: -1
    nav
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 40px
        padding: 8px 24px
        text-align: center
        backdrop-filter: blur(10px)
        > a.icon
            position: absolute
            left: calc( 24px / 2 + 4px )
            top: 4px
    .box-right
        position: absolute
        right: calc( 24px / 2 + 4px )
        top: 4px
    a.icon
        background: transparent
        padding: 4px
        width: 30px
        height: 30px
        border-radius: 4px
        text-align: center
        color: $txt
        font-size: 18px
        line-height: 125%
        &:hover
            background: $light
    .wrapper
        margin-top: 50px
        padding: 8px 24px
        .tab-content
            padding-top: 12px
        .nav-tabs
            justify-content: center
            border: none
            .nav-item
                width: 50%
                text-align: center
                font-size: 12px
                &:first-child
                    .nav-link
                        border-radius: 8px 0 0 8px
                .nav-link
                    border: none
                    background: $light
                    box-shadow: 0 2px 5px rgba($txt, 0.03)
                    color: $main-clr
                    border-radius: 0 8px 8px 0
                    &.active
                        background: $main-clr
                        box-shadow: none
                        color: $light
        .object
            @include box(4px, 0, 12px, 0)
            margin-bottom: 12px
            .object-top
                font-size: 14px
                a.icon
                    transform: scale(0.7)
            .object-top,
            .txt-currency
                text-align: center
                text-transform: uppercase
            .txt-currency
                @include currency(500, 30px)
            .dropdown
                
        .function
            display: flex
            justify-content: center
            align-items: center
            gap: 4px
            width: 100%
            padding: 6px 0
            .function-item
                position: relative
                width: inherit
                font-size: 12px
                background: $light
                display: flex
                justify-content: center
                align-items: center
                gap: 4px
                border-radius: 4px
                padding: 4px 0
                color: $main-clr
                box-shadow: 0 2px 5px rgba($txt, 0.03)
                a.icon
                    i
                        color: $main-clr
                p
                    font-size: 10px
                    display: inline-block
                    text-transform: capitalize
                &.active
                    background: $main-clr
                    color: $light
                    a.icon
                        i
                            color: $light
        .list
            margin-top: 12px
            .list-title
                font-size: 14px
                font-weight: 500
                text-transform: capitalize
                margin: 12px 0
            .list-item
                position: relative
                @include box(8px, 8px, 8px, 8px)
                margin-bottom: 8px
                .account-num
                    font-size: 14px
                    font-weight: 500
                .list-bottom
                    display: flex
                    align-items: flex-end
                    margin-top: 40px
                    justify-content: flex-end
                    &:has(.date)
                        justify-content: space-between
                        
                .balance
                    .txt-currency
                        @include currency(500, 20px)
                        text-align: right
                .date
                    font-size: 12px
                    color: rgba($txt ,0.3 )
                > a.icon
                    position: absolute
                    top: 4px
                    right: 5px
                    color: rgba($txt ,0.4 )
