@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap");
:has(.toggler.active) body::before {
  display: block;
}
:has(.toggler.active) .logo {
  opacity: 0.5;
}

body {
  font-family: "Asap", sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
}
body::before {
  content: "";
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(40, 38, 38, 0.7);
  z-index: 10;
  transition: display 0.5s ease;
}

nav {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  color: #f8f8fd;
  background: transparent;
  backdrop-filter: blur(5px);
  z-index: 11;
}
nav .logo {
  position: relative;
  height: 36px;
  aspect-ratio: 1/1;
  border-radius: 8px;
  margin-left: 16px;
  overflow: hidden;
  pointer-events: all;
}
nav .logo img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
  aspect-ratio: 1/1;
}
nav .toggler {
  border: none !important;
  color: #282626 !important;
  background: transparent;
  padding: 0;
  width: 36px;
  height: 36px;
  z-index: 2;
}
nav .toggler i {
  transition: all 0.7s ease 0s;
}
nav .toggler.active i::before {
  content: "\f00d" !important;
}
nav .toggler.active ~ ul {
  overflow-y: auto;
  transform: translate3d(0, 0, 0);
}
nav ul.navbar-nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 80vw;
  height: 100vh;
  background: #f8f8fd;
  padding: 40px 8px !important;
  transform: translate3d(80vw, 0, 0);
  transition: transform 0.7s ease 0s;
}
nav ul.navbar-nav li {
  text-transform: capitalize;
  border-bottom: 1px solid rgba(40, 38, 38, 0.2);
  margin: 8px 0;
  padding: 4px 0;
}
nav ul.navbar-nav li:last-child {
  border: none;
}
nav ul.navbar-nav li .nav-link {
  font-size: 14px;
  padding: 8px 0 8px 12px;
}
nav ul.navbar-nav li p {
  font-size: 12px;
  color: rgba(40, 38, 38, 0.5);
  margin-bottom: 8px;
}
nav ul.navbar-nav .box {
  text-align: center;
  background: rgba(0, 79, 250, 0.2);
  border-radius: 8px;
  border: none;
  padding: 16px 16px 0px 16px;
  font-size: 12px;
  margin-bottom: 12px;
}
nav ul.navbar-nav .box p {
  color: #282626;
  font-size: 15px;
}
nav ul.navbar-nav .box span {
  color: #282626;
  display: inline-block;
  font-size: 12px;
  margin: 0 4px;
}
nav ul.navbar-nav .box .nav-button {
  display: inline-block;
  width: 40%;
  background: #f8f8fd;
  border-radius: 4px;
  padding: 8px;
  margin: 0 auto;
  color: #004ffa;
  margin: 12px 4px;
}
nav ul.navbar-nav .box .nav-button:last-child {
  background: #004ffa;
  color: #f8f8fd;
  box-shadow: inset 0 0 0 1px #f8f8fd;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 72px;
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
}
.wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #004ffa;
  background-image: url("../library/img-common/img-project/UI/FLIGHT/FILGHT-bg.png");
  background-position: -170px top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(2px);
  z-index: -1;
  pointer-events: none;
}
.wrapper h3 {
  font-size: 3.5em;
  line-height: 130%;
  color: #f8f8fd;
  white-space: nowrap;
  font-style: italic;
  text-transform: capitalize;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
.wrapper .head {
  color: #f8f8fd;
  font-size: 2em;
  font-style: italic;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
.wrapper a.button {
  width: 100%;
  font-size: 18px;
  line-height: 1.5rem;
  text-align: center;
  border-radius: 12px;
  background: #004ffa;
  padding: 16px 0;
  margin: 20px 0 80px 0;
  color: #f8f8fd;
  transition: background 0.2s linear;
  transition-duration: 0.2s;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
.wrapper a.button:active, .wrapper a.button:focus, .wrapper a.button:hover {
  outline: none;
  background: #0e4abe;
}
.wrapper .top {
  width: calc(100% - 48px);
  background: rgba(248, 248, 253, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.3333333333%;
  border-radius: 40px;
  padding: 4px 0;
  margin-bottom: 20px;
}
.wrapper .top > div {
  width: 30%;
  color: #282626;
  line-height: 24px;
  padding: 4px 8px;
  border-radius: 40px;
  text-align: center;
  white-space: nowrap;
  text-transform: capitalize;
  transition: background 0.2s ease-in-out, color 0.3s ease-in-out;
}
.wrapper .top > div:focus, .wrapper .top > div:hover, .wrapper .top > div:active {
  background: #004ffa;
  color: #f8f8fd;
}
.wrapper .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: rgba(248, 248, 253, 0.7);
  border-radius: 32px 32px 0 0;
  padding: 14px 16px;
  border-top: 2px solid #f8f8fd;
}
.wrapper .container > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.wrapper .container > p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 0 0 0;
  gap: 8px;
  color: #282626;
  text-transform: capitalize;
}
.wrapper .container > p sup {
  top: 0;
}
.wrapper .container > p a {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #f8f8fd;
}
.wrapper .container .type-box {
  position: relative;
  width: 100%;
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 0 8px rgba(190, 190, 190, 0.25);
  padding: 0 12px;
  margin: 6px 0;
  text-transform: capitalize;
  color: #282626;
}
.wrapper .container .type-box.inline-block {
  padding: 9.75px 12px;
}
.wrapper .container .type-box.inline-block .box,
.wrapper .container .type-box.inline-block .input {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.wrapper .container .type-box .box {
  padding: 8px 0;
}
.wrapper .container .type-box .box.box-r {
  text-align: right;
}
.wrapper .container .type-box p {
  font-size: 13px;
  opacity: 0.5;
  line-height: 150%;
}
.wrapper .container .type-box .input {
  line-height: 32px;
  white-space: nowrap;
}
.wrapper .container .type-box .input .input-item {
  width: 100%;
  padding: 0 12px;
  text-align: right;
}
.wrapper .container .type-box .input .input-item span {
  padding: 0 4px;
}
.wrapper .container .icon-plane {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px 0;
  backdrop-filter: blur(5px);
  z-index: 10;
}
footer ul {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  color: #282626;
}
footer ul li {
  width: 100%;
  text-align: center;
}
footer ul li p {
  text-transform: capitalize;
  font-size: 12px;
  margin: 4px 0;
}

.show-animation {
  opacity: 0;
  transition: all 0.8s ease-in;
}
.show-animation.is-view {
  opacity: 1;
}

.overflow {
  overflow: hidden;
}
.overflow .wrapper {
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0 16px 40px 16px;
}
