@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..7001,100..700&family=Rubik+Mono+One&display=swap");
body {
  font-family: "Josefin Sans", "Roboto", "SF Pro TC", "PingFang TC", "Noto Sans TC", "微軟正黑體";
}

a {
  text-decoration: none;
  color: #fff;
}

p, div {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
}

body.main {
  scroll-behavior: smooth;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  overflow-y: auto;
  background: #161616;
}
body.main a.logo {
  position: fixed;
  max-width: 130px;
  top: 40px;
  right: 20%;
  left: 0;
  width: 100%;
  height: 40px;
  cursor: pointer;
  transform-origin: left;
  transition: transform 0.2s linear;
  z-index: 1001;
  mix-blend-mode: difference;
}
body.main a.logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
body.main a.logo p {
  position: absolute;
  left: 0;
  bottom: -40px;
  width: auto;
  background: #161616;
  text-align: center;
  padding: 4px 8px;
  color: #cac9c9;
  font-size: 20px;
  white-space: nowrap;
  opacity: 0.8;
}
body.main .header_nav {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  border-radius: 50px;
  background: #fff;
  z-index: 1000;
}
body.main .header_nav::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  height: 50%;
  width: 2px;
  background: rgba(235, 235, 235, 0.1);
  border-radius: 50px;
  transform: translate(-50%, -50%);
}
body.main .header_nav a {
  position: relative;
  text-align: center;
  white-space: nowrap;
  color: #161616;
  text-transform: capitalize;
  line-height: 60px;
  width: 100%;
  height: 100%;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 50px 0 0 50px;
}
body.main .header_nav a:hover, body.main .header_nav a:active, body.main .header_nav a:focus {
  color: #F84519;
  font-weight: 600;
}
body.main .header_nav a:last-of-type {
  border-radius: 0 50px 50px 0;
}
body.main .header_nav .contact-menu {
  position: absolute;
  bottom: 70px;
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 4px 8px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.05), 0px 10px 20px rgba(255, 255, 255, 0.05);
}
body.main .header_nav .contact-menu::before {
  content: "";
  position: absolute;
  right: 40px;
  bottom: -30px;
  width: 0;
  height: 0;
  border: 15px solid;
  border-color: #161616 transparent transparent transparent;
}
body.main .header_nav .contact-menu li {
  padding: 4px 8px;
  border-radius: 4px;
  width: 100%;
}
body.main .header_nav .contact-menu li a {
  color: #161616;
  transition: all 0.02s linear;
}
body.main .header_nav .contact-menu li:hover {
  background: #F84519;
}
body.main .header_nav .contact-menu li:hover a {
  color: #161616;
}
body.main main {
  position: relative;
  width: 100%;
  margin-top: 40px;
}
body.main main .logoBox {
  position: absolute;
  left: 80px;
  top: -50px;
  z-index: 2;
}
body.main main .logoBox img {
  width: 250px;
  aspect-ratio: 1/1;
  object-fit: contain;
}
body.main main .logoBox .slogan {
  font-size: 1.8rem;
  margin-top: -30px;
  letter-spacing: 2.2px;
  white-space: nowrap;
  color: #cac9c9;
  font-family: "Playfair Display", serif;
  line-height: 35px;
}
body.main main .logoBox .slogan:last-child {
  margin-top: 8px;
  margin-left: 100px;
}
body.main main > section {
  position: relative;
  top: 0;
  height: auto !important;
  display: flex;
  flex-direction: column;
  place-items: center;
}
body.main main section {
  height: 100vh;
}
body.main main section h1 {
  font-weight: 140;
  font-size: 88px;
  background: #cac9c9;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 900;
  -webkit-animation: scale-down linear both;
  animation: scale-down linear both;
  animation-timeline: scroll();
  animation-range: 0 50vh;
}
body.main main section p {
  font-size: clamp(0.5rem, 1.8rem, 80px);
  font-weight: 300;
  color: #cac9c9;
}
body.main main .content {
  position: relative;
  width: 100%;
  scale: 0.95;
  margin-top: 40px;
  overflow: hidden;
}
body.main main .content svg {
  position: absolute;
  height: 100%;
  right: 8%;
  top: 0;
  overflow: visible !important;
  z-index: -1;
}
body.main main .content svg path {
  stroke-width: 40px;
}
body.main main .content svg .backers path {
  stroke: rgba(22, 22, 22, 0.05);
}
body.main main .content svg .fillers path {
  stroke-dasharray: var(--len);
  stroke-dashoffset: var(--len);
  stroke: #161616;
  stroke: #F84519;
}
body.main main .content svg .fillers path:nth-of-type(1) {
  --len: 8620;
}
body.main main .content svg .fillers path:nth-of-type(2) {
  --len: 7200;
}
body.main main .content svg .fillers path:nth-of-type(3) {
  --len: 7952;
}
body.main main .content section {
  display: grid;
  align-content: center;
  margin: 0 auto 0 0px;
  max-width: 400px;
}
body.main main .content section.list {
  position: relative;
  height: 60vh;
  justify-items: start;
  transition: all 0.2s linear;
  color: #fff;
}
body.main main .content section.list:hover {
  color: #F84519;
}
body.main main .content section h2 {
  font-size: 80px;
  color: #fff;
  width: 100%;
  font-size: 2.4rem;
  white-space: nowrap;
}
body.main main .content section h2 .location {
  font-weight: 240;
  display: inline-block;
  font-size: 1.4rem;
}
body.main main .content section .job {
  font-size: 2.4rem;
  line-height: 44px;
}
body.main main .content section .company {
  font-weight: 200;
  font-size: 1.6rem;
  line-height: 40px;
}
body.main .big-title {
  position: relative;
  display: block;
  text-align: center;
  width: 100%;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0.016em;
  color: #fff;
  text-transform: uppercase;
  padding: 8px 0;
  z-index: 100;
}
body.main .big-title a.icon {
  position: absolute;
  transform: translateX(-40px) scale(0.7);
}
body.main .second-title {
  position: relative;
  font-size: 1.5rem;
  padding: 16px 0;
  display: block;
  text-align: center;
  width: 100%;
  color: #cac9c9;
  z-index: 100;
}
body.main .second-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #EBEBEB;
}
body.main a.btn-default {
  padding: 8px 16px;
  border-radius: 4px;
  background: #EBEBEB;
  color: #fff;
  text-transform: capitalize;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.003em;
}
body.main a.btn-default:hover, body.main a.btn-default:focus, body.main a.btn-default:active {
  background: #F84519;
  color: #161616;
}
body.main .btn-tab {
  padding: 8px 16px;
  color: #cac9c9;
  font-weight: 400;
}
body.main .btn-tab:hover, body.main .btn-tab:focus, body.main .btn-tab:active {
  color: #fff;
  box-shadow: inset 0 -2px 0 #fff;
}
body.main .sectionPin {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  max-height: 300px;
  color: #fff;
  border-radius: 20px;
  width: 100%;
}
body.main .sectionPin .title h2 {
  white-space: nowrap;
  font-weight: 800;
  font-size: 5rem;
  line-height: 80px;
  margin: 0;
  padding-bottom: 40px;
}
body.main .sectionPin .title p {
  font-size: 3rem;
  white-space: nowrap;
}
body.main .sectionPin .carouselBox .carousel-item img {
  aspect-ratio: 9/16;
  height: 300px;
  object-fit: contain;
}
body.main .sectionPin .tool {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin: 12px 0;
}
body.main .sectionPin .tool img {
  display: block;
  width: 48px;
  height: 48px;
  aspect-ratio: 1/1;
  object-fit: contain;
  border-radius: 8px;
  background-color: #161616;
}
body.main .sectionPin .marquee {
  position: relative;
  width: 100%;
  height: 60px;
  overflow: hidden;
  margin-left: 40px;
}
body.main .sectionPin .marquee .marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling 20s linear infinite;
  gap: 40px;
}
body.main .sectionPin .marquee .marquee-content:hover {
  animation-play-state: paused;
}
body.main .sectionPin .marquee .marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 100;
  color: #fff;
  white-space: nowrap;
}

.about-container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 100%;
  height: 100px;
  gap: 40px;
  padding: 80px 2vw;
  margin: 20rem 0;
  z-index: 500;
}
.about-container .col {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 64px;
  width: 50%;
  color: #fff;
  border-radius: 40px;
}
.about-container .col h3 {
  line-height: 40px;
}
.about-container .col p {
  line-height: 24px;
  margin: 4px 0;
}
.about-container .col .tool {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
}
.about-container .col img {
  display: block;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 8px;
  padding: 0;
}

.main.main-project main,
.main.main-wireframe main {
  margin-top: 60px !important;
  margin-bottom: 30px;
}
.main.main-project main .container.container-side,
.main.main-wireframe main .container.container-side {
  width: 40%;
}
.main.main-project main .container,
.main.main-wireframe main .container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
  width: 100%;
  padding: 20px 0;
  overflow-x: auto;
  overflow-y: hidden;
}
.main.main-project main .container .project,
.main.main-wireframe main .container .project {
  position: relative;
  width: fit-content;
  height: 100%;
}
.main.main-project main .container .project > a,
.main.main-wireframe main .container .project > a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.main.main-project main .container .project .project-img,
.main.main-wireframe main .container .project .project-img {
  position: relative;
  width: 100%;
  padding: 4px;
  border-radius: 32px;
  overflow: hidden;
}
.main.main-project main .container .project .project-img::before,
.main.main-wireframe main .container .project .project-img::before {
  content: "";
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  width: 40%;
  height: 6px;
  border-radius: 8px;
}
.main.main-project main .container .project .project-img img,
.main.main-wireframe main .container .project .project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 28px;
  object-position: top;
}
.main.main-project main .container .project .project-content,
.main.main-wireframe main .container .project .project-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 16px;
  margin-top: 20px;
}
.main.main-project main .container .project .project-content .project-pic,
.main.main-wireframe main .container .project .project-content .project-pic {
  position: relative;
  width: 28px;
  height: 28px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 8px #EBEBEB;
}
.main.main-project main .container .project .project-content .project-pic img,
.main.main-wireframe main .container .project .project-content .project-pic img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main.main-project main .container .project .project-content .project-detail,
.main.main-wireframe main .container .project .project-content .project-detail {
  width: calc(100% - 25px);
  color: #fff;
}
.main.main-project main .container .project .project-content .project-detail > p,
.main.main-wireframe main .container .project .project-content .project-detail > p {
  font-size: 16px;
  margin: 0;
  padding: 0;
  letter-spacing: 0.016em;
  font-weight: 500;
}
.main.main-project main .container .project .project-content .project-detail > span,
.main.main-wireframe main .container .project .project-content .project-detail > span {
  width: 120px;
  font-size: 14px;
  line-height: 24px;
  color: #cac9c9;
  letter-spacing: 0.016em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.main.main-project main .container-side,
.main.main-wireframe main .container-side {
  display: inline-flex;
  flex-direction: column;
  width: calc(20% - 20px);
  height: 100%;
}
.main.main-project main .container-side .side-box,
.main.main-wireframe main .container-side .side-box {
  padding-left: 8px;
  margin-bottom: 16px;
}
.main.main-project main .container-side .side-box.HOME,
.main.main-wireframe main .container-side .side-box.HOME {
  padding: 0;
}
.main.main-project main .container-side .side-box .side-titel,
.main.main-wireframe main .container-side .side-box .side-titel {
  text-transform: capitalize;
  margin-bottom: 8px;
  letter-spacing: 0.016em;
}
.main.main-project main .container-side .side-box .side-container,
.main.main-wireframe main .container-side .side-box .side-container {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  gap: 4px;
}
.main.main-project main .container-side .side-box .side-container li,
.main.main-wireframe main .container-side .side-box .side-container li {
  padding: 4px 0;
  line-height: 20px;
  color: #cac9c9;
}
.main.main-project main .container-side .side-box .side-container li::before,
.main.main-wireframe main .container-side .side-box .side-container li::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 2px;
  background: #cac9c9;
  margin-right: 8px;
  margin-bottom: 3px;
}
.main.main-project main.project-wrapper .container-side,
.main.main-wireframe main.project-wrapper .container-side {
  display: none;
}
.main.main-project main.project-wrapper .tab,
.main.main-wireframe main.project-wrapper .tab {
  position: relative;
  margin: 8px 0;
}
.main.main-project main.project-wrapper .tab::before,
.main.main-wireframe main.project-wrapper .tab::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #EBEBEB;
}
.main.main-project main.project-wrapper .tab a.btn-tab,
.main.main-wireframe main.project-wrapper .tab a.btn-tab {
  position: relative;
}
.main.main-project main.project-wrapper .tab a.btn-tab:hover, .main.main-project main.project-wrapper .tab a.btn-tab:active, .main.main-project main.project-wrapper .tab a.btn-tab:focus,
.main.main-wireframe main.project-wrapper .tab a.btn-tab:hover,
.main.main-wireframe main.project-wrapper .tab a.btn-tab:active,
.main.main-wireframe main.project-wrapper .tab a.btn-tab:focus {
  color: #fff;
}
.main.main-project main.project-wrapper .container,
.main.main-wireframe main.project-wrapper .container {
  flex-wrap: wrap;
  overflow: visible;
}
.main.main-project main.project-wrapper .container .container-intro,
.main.main-wireframe main.project-wrapper .container .container-intro {
  grid-column: 1/3;
  font-size: 1.32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.main.main-project main.project-wrapper .container .container-intro img,
.main.main-wireframe main.project-wrapper .container .container-intro img {
  width: 35px;
  height: 35px;
  object-fit: contain;
  border-radius: 4px;
  margin-right: 8px;
}
.main.main-project main.project-wrapper .container .container-intro .intro,
.main.main-wireframe main.project-wrapper .container .container-intro .intro {
  position: relative;
  line-height: 26px;
  letter-spacing: 0.3px;
  display: block;
  color: #cac9c9;
  font-size: 17px;
  padding: 20px 0px;
}
.main.main-project main.project-wrapper .container .project .project-img,
.main.main-wireframe main.project-wrapper .container .project .project-img {
  box-shadow: inset 0 0 0 4px #fff;
  padding: 3px;
}
.main.main-project main.project-wrapper .container .project .project-img img,
.main.main-wireframe main.project-wrapper .container .project .project-img img {
  object-position: center;
}
.main.main-project main.project-wrapper .container .project img.wireframe,
.main.main-wireframe main.project-wrapper .container .project img.wireframe {
  display: none;
}

.main.main-wireframe main.project-wrapper .container-side {
  position: absolute;
  display: flex;
  padding-top: 20px;
}
.main.main-wireframe main.project-wrapper .container-intro {
  display: none !important;
}
.main.main-wireframe main.project-wrapper .container {
  display: inline-flex;
  padding-left: 20%;
}
.main.main-wireframe main.project-wrapper .container .project {
  width: 22%;
}
.main.main-wireframe main.project-wrapper .container .project img {
  display: none;
}
.main.main-wireframe main.project-wrapper .container .project img.wireframe {
  display: block !important;
}

@keyframes scale-down {
  to {
    scale: 0.75;
  }
}
@supports (animation-timeline: scroll()) {
  .content {
    view-timeline: --content;
    -webkit-animation: grow linear both;
    animation: grow linear both;
    animation-timeline: scroll();
    animation-range: 0 50vh;
  }
}
@keyframes grow {
  to {
    scale: 1;
  }
}
@supports (animation-timeline: scroll()) {
  .fillers path {
    -webkit-animation: fill linear both;
    animation: fill linear both;
    animation-timeline: --content;
    animation-range: entry-crossing -38% exit 12%;
  }
}
@keyframes fill {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1000px);
  }
}

/*# sourceMappingURL=src-profolio.css.map */
