@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..7001,100..700&family=Rubik+Mono+One&display=swap");
body {
  font-family: "Josefin Sans", "Roboto", "SF Pro TC", "PingFang TC", "Noto Sans TC", "微軟正黑體";
}

a {
  text-decoration: none;
  color: #fafafa;
}

p, div {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
}

body.main {
  scroll-behavior: smooth;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
body.main a.logo {
  position: sticky;
  top: -10px;
  left: 40px;
  width: 50px;
  height: 50px;
  z-index: 100;
}
body.main a.logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;
}
body.main .header_nav {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  border-radius: 50px;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  background: rgba(250, 250, 250, 0.05);
  border: 1px solid rgba(250, 250, 250, 0.05);
  box-shadow: 0 3px 7px rgba(109, 109, 109, 0.1019607843);
  z-index: 1000;
}
body.main .header_nav a {
  position: relative;
  text-align: center;
  white-space: nowrap;
  color: #050206;
  text-transform: capitalize;
  line-height: 50px;
  width: 50%;
  height: 100%;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body.main .header_nav a:hover, body.main .header_nav a:active, body.main .header_nav a:focus {
  color: #F84519;
  font-weight: 600;
}
body.main .header_nav .contact-menu {
  position: absolute;
  bottom: 65px;
  width: 100%;
  background: #fafafa;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 4px 8px;
  box-shadow: 0px 0px 5px rgba(250, 250, 250, 0.05), 0px 10px 20px rgba(250, 250, 250, 0.05);
  z-index: 10;
}
body.main .header_nav .contact-menu.open {
  display: flex;
}
body.main .header_nav .contact-menu li {
  padding: 4px 8px;
  border-radius: 8px;
  width: 100%;
}
body.main .header_nav .contact-menu li a {
  color: #050206;
  transition: all 0.02s linear;
  text-align: center;
}
body.main .header_nav .contact-menu li:hover a {
  color: #F84519;
}
body.main main {
  position: relative;
  width: 100%;
  margin-top: 40px;
}
body.main main > section {
  position: relative;
  top: 0;
  height: auto !important;
  display: flex;
  flex-direction: column;
  place-items: center;
}
body.main main section {
  height: 100vh;
}
body.main main section h1 {
  font-weight: 140;
  font-size: 88px;
  background: #9d9d9d;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 900;
  -webkit-animation: scale-down linear both;
  animation: scale-down linear both;
  animation-timeline: scroll();
  animation-range: 0 50vh;
}
body.main main section p {
  font-size: clamp(0.5rem, 1.8rem, 80px);
  font-weight: 300;
  color: #9d9d9d;
}
body.main .big-title {
  position: relative;
  display: block;
  text-align: center;
  width: 100%;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0.016em;
  color: #050206;
  text-transform: uppercase;
  padding: 8px 0;
  z-index: 100;
}
body.main .big-title a.icon {
  position: absolute;
  transform: translateX(-40px) scale(0.7);
}
body.main .second-title {
  position: relative;
  font-size: 1.5rem;
  padding: 16px 0;
  display: block;
  text-align: center;
  width: 100%;
  color: #9d9d9d;
  z-index: 100;
}
body.main .second-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #050206;
}
body.main a.btn-default {
  padding: 8px 16px;
  border-radius: 8px;
  background: #fafafa;
  color: #050206;
  text-transform: capitalize;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.003em;
}
body.main a.btn-default:hover, body.main a.btn-default:focus, body.main a.btn-default:active {
  color: #F84519;
}
body.main .btn-tab {
  padding: 8px 16px;
  color: #050206;
  font-weight: 400;
}
body.main .btn-tab:hover, body.main .btn-tab:focus, body.main .btn-tab:active {
  font-weight: bold;
  box-shadow: inset 0 -2px 0 #fafafa;
}
body.main .title {
  position: relative;
  margin: 40px 0;
  text-align: center;
}
body.main .title h2 {
  white-space: nowrap;
  color: #050206;
  font-weight: 800;
  font-size: 5rem;
  letter-spacing: calc(0.016em - 8px);
  margin: 0;
}
body.main .wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 40px;
  width: 100%;
  margin: 12px 0 40px 0;
}
body.main .wrapper .wrapper-box {
  color: #050206;
  background: linear-gradient(0deg, rgba(250, 250, 250, 0), rgba(250, 250, 250, 0.1));
  box-shadow: 0px 48px 19px rgba(0, 0, 0, 0.01), 0px 27px 16px rgba(0, 0, 0, 0.02), 0px 12px 12px rgba(0, 0, 0, 0.03), 0px 3px 7px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(5, 2, 6, 0.1);
  border-radius: 20px;
  padding: 28px 32px;
}
body.main .wrapper .wrapper-box .wrapper-title {
  font-size: 20px;
  line-height: 40px;
}
body.main .wrapper .wrapper-box .wrapper-title p {
  font-weight: lighter;
  opacity: 0.5;
  font-size: 16px;
  line-height: 150%;
  margin: 20px 0;
}
body.main .wrapper .wrapper-box .button {
  width: auto;
  white-space: nowrap;
  line-height: 16px;
  font-size: 20px;
  border-radius: 80px;
  padding: 12px 20px;
  border: 0.7px solid #050206;
  background: linear-gradient(rgba(255, 255, 255, 0.125), rgba(255, 255, 255, 0.075));
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #050206;
  transition: all 0.2s ease-in;
  gap: 16px;
}
body.main .wrapper .wrapper-box .button .arrow {
  width: 15px;
  height: 7px;
  border-bottom: 2px solid #050206;
  border-right: 2px solid #050206;
  transform: skew(45deg);
  transition: all 0.5s;
}
body.main .wrapper .wrapper-box .button:hover {
  background: #050206;
  border-color: #fafafa;
  color: #fafafa;
}
body.main .wrapper .wrapper-box .button:hover .arrow {
  border-color: #fafafa;
  transform: rotate(-20deg) skew(45deg);
}
body.main .load-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #050206;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  overflow: hidden;
  z-index: 1001;
}
body.main .load-backdrop h2 {
  font-size: 20px;
  font-weight: light;
  letter-spacing: 0.016em;
}

.main.main-about {
  overflow-y: scroll;
}
.main.main-about .wrapper .content {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.main.main-about .wrapper .content > span {
  position: absolute;
  left: 5px;
  top: 60px;
  height: 100%;
  width: 1px;
  background: rgba(157, 157, 157, 0.5);
}
.main.main-about .wrapper .content h3 {
  font-size: 24px;
  font-weight: 500;
  color: #050206;
  margin-bottom: 40px;
}
.main.main-about .wrapper .content .job {
  position: relative;
  padding-left: 40px;
  line-height: 24px;
  font-size: 20px;
  margin: 40px 0;
}
.main.main-about .wrapper .content .job small {
  display: inline-block;
  font-size: 14px;
}
.main.main-about .wrapper .content .job .time {
  display: block;
  font-size: 14px;
}
.main.main-about .wrapper .content .job::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #fafafa;
  border: 1px solid #9d9d9d;
  width: 12px;
  height: 12px;
  border-radius: 50px;
}
.main.main-about .wrapper .content .job:first-of-type::before {
  background: #050206;
  border-color: #050206;
}
.main.main-about .wrapper .content .tool-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.main.main-about .wrapper .content .tool-list .badge {
  display: block;
  width: 30px;
  height: 30px;
  background: #222;
}

.main.main-project,
.main.main-wireframe {
  overflow-y: scroll;
}
.main.main-project main,
.main.main-wireframe main {
  margin-top: 0px !important;
  margin-bottom: 20px;
}
.main.main-project main .container.container-side,
.main.main-wireframe main .container.container-side {
  width: 40%;
}
.main.main-project main .container,
.main.main-wireframe main .container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 32px 12px;
  width: 100%;
  padding: 20px 0;
  overflow-x: auto;
  overflow-y: hidden;
}
.main.main-project main .container .project,
.main.main-wireframe main .container .project {
  position: relative;
  width: 230px;
  height: 100%;
}
.main.main-project main .container .project > a,
.main.main-wireframe main .container .project > a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.main.main-project main .container .project .project-img,
.main.main-wireframe main .container .project .project-img {
  position: relative;
  width: 100%;
  border-radius: 20px;
  max-height: 500px;
  overflow: hidden;
}
.main.main-project main .container .project .project-img::before,
.main.main-wireframe main .container .project .project-img::before {
  content: "";
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  background: #fafafa;
  width: 40%;
  height: 6px;
  border-radius: 8px;
}
.main.main-project main .container .project .project-img img,
.main.main-wireframe main .container .project .project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.main.main-project main .container .project .project-content,
.main.main-wireframe main .container .project .project-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 8px;
  margin-top: 16px;
}
.main.main-project main .container .project .project-content .project-pic,
.main.main-wireframe main .container .project .project-content .project-pic {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px #fafafa;
}
.main.main-project main .container .project .project-content .project-pic img,
.main.main-wireframe main .container .project .project-content .project-pic img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main.main-project main .container .project .project-content .project-detail,
.main.main-wireframe main .container .project .project-content .project-detail {
  width: calc(100% - 30px);
  color: #050206;
}
.main.main-project main .container .project .project-content .project-detail > p,
.main.main-wireframe main .container .project .project-content .project-detail > p {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  letter-spacing: 0.016em;
  font-weight: 500;
}
.main.main-project main .container .project .project-content .project-detail > span,
.main.main-wireframe main .container .project .project-content .project-detail > span {
  width: 120px;
  font-size: 12px;
  line-height: 20px;
  color: #9d9d9d;
  letter-spacing: 0.016em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.main.main-project main .container-side,
.main.main-wireframe main .container-side {
  display: inline-flex;
  flex-direction: column;
  width: calc(20% - 20px);
  height: 100%;
}
.main.main-project main .container-side .side-box,
.main.main-wireframe main .container-side .side-box {
  padding-left: 8px;
  margin-bottom: 16px;
}
.main.main-project main .container-side .side-box.HOME,
.main.main-wireframe main .container-side .side-box.HOME {
  padding: 0;
}
.main.main-project main .container-side .side-box .side-titel,
.main.main-wireframe main .container-side .side-box .side-titel {
  text-transform: capitalize;
  margin-bottom: 8px;
  letter-spacing: 0.016em;
}
.main.main-project main .container-side .side-box .side-container,
.main.main-wireframe main .container-side .side-box .side-container {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  gap: 4px;
}
.main.main-project main .container-side .side-box .side-container li,
.main.main-wireframe main .container-side .side-box .side-container li {
  padding: 4px 0;
  line-height: 20px;
  color: #9d9d9d;
}
.main.main-project main .container-side .side-box .side-container li::before,
.main.main-wireframe main .container-side .side-box .side-container li::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 2px;
  background: #9d9d9d;
  margin-right: 8px;
  margin-bottom: 3px;
}
.main.main-project main.project-wrapper .container-side,
.main.main-wireframe main.project-wrapper .container-side {
  display: none;
}
.main.main-project main.project-wrapper .tab,
.main.main-wireframe main.project-wrapper .tab {
  position: relative;
  margin: 8px 0;
}
.main.main-project main.project-wrapper .tab::before,
.main.main-wireframe main.project-wrapper .tab::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #050206;
}
.main.main-project main.project-wrapper .container,
.main.main-wireframe main.project-wrapper .container {
  flex-wrap: wrap;
  overflow: visible;
}
.main.main-project main.project-wrapper .container .container-intro,
.main.main-wireframe main.project-wrapper .container .container-intro {
  grid-column: 1/3;
  font-size: 1.32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.main.main-project main.project-wrapper .container .container-intro img,
.main.main-wireframe main.project-wrapper .container .container-intro img {
  width: 35px;
  height: 35px;
  object-fit: contain;
  border-radius: 8px;
  margin-right: 8px;
}
.main.main-project main.project-wrapper .container .container-intro .intro-title,
.main.main-wireframe main.project-wrapper .container .container-intro .intro-title {
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
}
.main.main-project main.project-wrapper .container .container-intro .intro,
.main.main-wireframe main.project-wrapper .container .container-intro .intro {
  position: relative;
  line-height: 26px;
  letter-spacing: 0.3px;
  display: block;
  color: #9d9d9d;
  font-size: 17px;
  padding: 20px 0px;
}
.main.main-project main.project-wrapper .container .project .project-img img,
.main.main-wireframe main.project-wrapper .container .project .project-img img {
  object-position: center;
}
.main.main-project main.project-wrapper .container .project img.wireframe,
.main.main-wireframe main.project-wrapper .container .project img.wireframe {
  display: none;
}

.main.main-wireframe main.project-wrapper .container-side {
  position: absolute;
  display: flex;
  padding-top: 20px;
}
.main.main-wireframe main.project-wrapper .container-intro {
  display: none !important;
}
.main.main-wireframe main.project-wrapper .container {
  padding-left: 20%;
  grid-template-columns: repeat(4, 1fr);
}
.main.main-wireframe main.project-wrapper .container .project img {
  display: none;
}
.main.main-wireframe main.project-wrapper .container .project img.wireframe {
  display: block !important;
}

@keyframes scale-down {
  to {
    scale: 0.75;
  }
}
@supports (animation-timeline: scroll()) {
  .content {
    view-timeline: --content;
    -webkit-animation: grow linear both;
    animation: grow linear both;
    animation-timeline: scroll();
    animation-range: 0 50vh;
  }
}
@keyframes grow {
  to {
    scale: 1;
  }
}
@supports (animation-timeline: scroll()) {
  .fillers path {
    -webkit-animation: fill linear both;
    animation: fill linear both;
    animation-timeline: --content;
    animation-range: entry-crossing -38% exit 12%;
  }
}
@keyframes fill {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-300px);
  }
}
@keyframes blur {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(2);
  }
}

/*# sourceMappingURL=src-profolio.css.map */
