@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Noto Sans", "Arial", sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
  position: relative;
  color: #222424;
}
body::before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: url("../library/img-common/img-project/UI/BANK/BANK-bg.png") center;
  background-size: cover;
  z-index: -1;
}
body nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding: 8px 24px;
  text-align: center;
  background: rgba(253, 253, 253, 0.9);
}
body nav > a.icon {
  position: absolute;
  left: 16px;
  top: 4px;
}
body nav .logo {
  position: absolute;
  left: 20px;
  aspect-ratio: 2/1;
  height: 32px;
  top: 4px;
}
body nav .logo img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
body .box-right {
  position: absolute;
  right: 16px;
  top: 4px;
}
body .box-right a.icon {
  color: #3469F7;
}
body a.icon {
  background: transparent;
  padding: 4px;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  text-align: center;
  color: #222424;
  font-size: 18px;
  line-height: 125%;
}
body a.icon:hover {
  background: #fdfdfd;
}
body .wrapper {
  margin-top: 50px;
  padding: 8px 24px;
}
body .wrapper .tab-content {
  padding-top: 12px;
}
body .wrapper .nav-tabs {
  justify-content: center;
  border: none;
}
body .wrapper .nav-tabs .nav-item {
  width: 50%;
  text-align: center;
  font-size: 12px;
}
body .wrapper .nav-tabs .nav-item:first-child .nav-link {
  border-radius: 8px 0 0 8px;
}
body .wrapper .nav-tabs .nav-item .nav-link {
  border: none;
  background: #fdfdfd;
  box-shadow: 0 2px 5px rgba(34, 36, 36, 0.03);
  color: #3469F7;
  border-radius: 0 8px 8px 0;
}
body .wrapper .nav-tabs .nav-item .nav-link.active {
  background: #3469F7;
  box-shadow: none;
  color: #fdfdfd;
}
body .wrapper .object {
  background: rgba(253, 253, 253, 0.6);
  border-radius: 12px;
  padding: 4px 0 12px 0;
  margin-bottom: 12px;
}
body .wrapper .object .object-top {
  font-size: 14px;
}
body .wrapper .object .object-top a.icon {
  transform: scale(0.7);
}
body .wrapper .object .object-top,
body .wrapper .object .txt-currency {
  text-align: center;
  text-transform: uppercase;
}
body .wrapper .object .txt-currency {
  font-weight: 500;
  font-size: 30px;
}
body .wrapper .object .txt-currency::before {
  content: "$";
  font-size: 20px;
}
body .wrapper .object .dropdown-toggle {
  width: 80px;
  height: 30px;
  padding: 0 8px;
  background: #fdfdfd;
  border: 1px solid rgba(52, 105, 247, 0.3);
  border-radius: 50px;
}
body .wrapper .object .dropdown-toggle p {
  width: 48px;
  display: inline-block;
}
body .wrapper .object .dropdown-toggle::after {
  border-color: #3469f7;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
}
body .wrapper .object.center .object-top,
body .wrapper .object.center .txt-currency {
  text-align: left;
}
body .wrapper .object .dropdown-menu.show {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transform: translate3d(-70%, 89px, 0px) !important;
  left: 50% !important;
  width: 80px;
  min-width: fit-content;
  border-color: rgba(52, 105, 247, 0.3);
}
body .wrapper .function {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 100%;
  padding: 6px 0;
}
body .wrapper .function .function-item {
  position: relative;
  width: inherit;
  font-size: 12px;
  background: #fdfdfd;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  padding: 4px 0;
  color: #3469F7;
  box-shadow: 0 2px 5px rgba(34, 36, 36, 0.03);
}
body .wrapper .function .function-item a.icon i {
  color: #3469F7;
}
body .wrapper .function .function-item p {
  font-size: 10px;
  display: inline-block;
  width: min-content;
  text-transform: capitalize;
}
body .wrapper .function .function-item.active {
  background: #3469F7;
  color: #fdfdfd;
}
body .wrapper .function .function-item.active a.icon i {
  color: #fdfdfd;
}
body .wrapper .list {
  margin-top: 12px;
}
body .wrapper .list .list-title {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 12px 0;
}
body .wrapper .list .list-title small {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  width: 79%;
  white-space: nowrap;
  right: 0;
  font-size: 9px;
  color: rgba(34, 36, 36, 0.3);
}
body .wrapper .list .list-title small a.icon {
  transform: scale(0.7);
  color: rgba(34, 36, 36, 0.3);
}
body .wrapper .list .list-tab {
  background: rgba(253, 253, 253, 0.6);
  border-radius: 12px;
  padding: 8px 44px 8px 8px;
  border-radius: 12px 12px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #fdfdfd;
}
body .wrapper .list .list-tab p {
  font-size: 10px;
  text-transform: capitalize;
}
body .wrapper .list .list-tab p:first-child {
  width: 40%;
}
body .wrapper .list .list-container {
  border-radius: 0 0 12px 12px;
}
body .wrapper .list .list-container small {
  position: relative;
  display: block;
  width: 100%;
  font-size: 12px;
  text-align: right;
  color: rgba(34, 36, 36, 0.7);
  background: rgba(253, 253, 253, 0.6);
  border-radius: 0 0 12px 12px;
  padding: 8px;
}
body .wrapper .list .list-container .list-item {
  border-radius: 0;
  margin: 0;
  padding: 12px 8px;
  border-bottom: 1px solid #fdfdfd;
}
body .wrapper .list .list-container .list-item:last-child {
  border: none;
}
body .wrapper .list .list-item {
  position: relative;
  background: rgba(253, 253, 253, 0.6);
  border-radius: 12px;
  padding: 8px 8px 8px 8px;
  margin-bottom: 8px;
}
body .wrapper .list .list-item .account-num {
  font-size: 14px;
  font-weight: 500;
}
body .wrapper .list .list-item .country {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  overflow: hidden;
}
body .wrapper .list .list-item .country img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
body .wrapper .list .list-item .list-bottom {
  display: flex;
  align-items: flex-end;
  margin-top: 40px;
  justify-content: flex-end;
}
body .wrapper .list .list-item .list-bottom:has(.date) {
  justify-content: space-between;
}
body .wrapper .list .list-item .list-center {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}
body .wrapper .list .list-item .list-center .balance .txt-currency {
  text-align: left;
}
body .wrapper .list .list-item .list-right {
  display: inline-block;
  width: calc(50% - 5px);
  margin-left: 10px;
  position: relative;
  vertical-align: top;
}
body .wrapper .list .list-item .list-right p {
  width: 45%;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  display: inline-block;
}
body .wrapper .list .list-item .balance .txt-currency {
  font-weight: 500;
  font-size: 20px;
  text-align: right;
}
body .wrapper .list .list-item .balance .txt-currency::before {
  content: "$";
  font-size: 20px;
}
body .wrapper .list .list-item .date {
  font-size: 12px;
  color: rgba(34, 36, 36, 0.3);
}
body .wrapper .list .list-item > a.icon {
  position: absolute;
  top: 48%;
  right: 5px;
  transform: translateY(-50%);
  color: #3469f7;
}
body .wrapper .list .list-item .chart-container {
  display: inline-block;
  max-width: 100px;
  width: 100%;
  margin-left: 12px;
}
body .wrapper .list .list-item .chart-container canvas {
  max-height: 30px;
}
