// -------------------
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

// 一些預設樣式
$dark-clr: #050206
$light-clr: #fafafa
$grey-clr: #9d9d9d
$main: #F84519
$base: 4
$letterspace: 0.016em
$center-align: center
$start-align: flex-start
$end-align: flex-end


@mixin flex-align($align: $center-align, $justify: center)
  display: flex
  justify-content: $justify
  align-items: $align


body
    font-family: "Poppins" ,"Roboto" ,"SF Pro TC","PingFang TC",'Noto Sans TC',"微軟正黑體"
a
    text-decoration: none
    color: $light-clr
body, p, div, ul
    padding: 0
    margin: 0

// --------------------------

body.main
    width: 100%
    max-width:  calc( $base * 300px)
    margin: 0 auto
    min-height: 100vh
    padding-bottom: calc( $base * 30px)
    scroll-behavior: smooth
    ~ .load-backdrop
        overflow: hidden
    .load-backdrop
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: $light-clr
        @include flex-align($center-align)
        flex-direction: column
        color: $dark-clr
        -webkit-backdrop-filter: blur(16px)
        backdrop-filter: blur(16px)
        overflow: hidden
        z-index: 1001
        svg
            stroke-width: 2px
            stroke-dashoffset: -200
            stroke-dasharray: 2000
            animation-name: svg-stroke
            animation-duration: 4s
            animation-iteration-count: 1
            animation-direction: alternate
            aniamtion-timing-function: ease-out
            animation-fill-mode: forwards
            fill: $light-clr
    a.logo
        position: fixed
        top: 0
        left: 0
        @mixin flex-align($align: $center-align, $justify: center)
        width: 100%
        padding: calc( $base * 2px) 0 calc( $base * 2px) calc( $base * 6px)
        backdrop-filter: blur(16px) opacity(0.8)
        -webkit-backdrop-filter: blur(16px) opacity(0.8)
        z-index: 100
        img
            height: calc( $base * 10px)
            aspect-ratio: 1/1
            object-fit: contain
    nav
        position: fixed
        top: calc( $base * 2px)
        right: 0
        height: calc( $base * 11px)
        padding-right: calc( $base * 6px)
        @include flex-align($end-align)
        z-index: 100
        a
            line-height: calc( $base * 10px)
            color: $dark-clr
            font-size: calc( $base * calc( $base * 1px))
            padding: 2px calc( $base * 2px)
            &:hover
                font-weight: 600


    .header_nav
        position: fixed
        bottom: calc( $base * 5px)
        left: 50%
        transform: translateX(-50%)
        width: calc( $base * 50px)
        @include flex-align($center-align, space-around)
        height: 50px
        border-radius: 50px
        backdrop-filter: blur(16px)
        -webkit-backdrop-filter: blur(16px)
        background: rgba($light-clr, .1)
        border: 1px solid rgba($light-clr, .1)
        box-shadow: 0 calc( $base * 1px) calc( $base * 2px) #6d6d6d1a
        z-index: 1000
        a
            position: relative
            white-space: nowrap
            text-align: $center-align
            color: $dark-clr
            text-transform: capitalize
            line-height: 50px
            width: 50%
            height: 100%
            transition: 0.2s ease-in-out
            cursor: pointer
            border-radius: 50px
            @include flex-align($align: $center-align, $justify: center)
            &:hover,
            &:active,
            &:focus
                color: $main
                font-weight: 600

        .contact-menu
            position: absolute
            bottom: 65px
            width: 100%
            background: $light-clr
            display: none
            border-radius: calc( $base * 2px)
            padding: calc( $base * 1px) calc( $base * 2px)
            box-shadow: 0px 0px 5px rgba($light-clr, 0.05), 0px 10px calc( $base * 5px) rgba($light-clr, 0.05)
            z-index: 10
            &.open
                flex-direction: column
                @include flex-align($align: $center-align, $justify: center)
            li
                padding: calc( $base * 1px) calc( $base * 2px)
                border-radius: calc( $base * 2px)
                width: 100%
                a
                    width: 100%
                &:hover
                    a
                        color: $main
                        font-weight: 500
    // -------------------------
    main
        position: relative
        width: 100%
        margin-top: calc( $base * 2.5vh)
        flex-direction: column
        @include flex-align($center-align, space-around)

    // 一些共用-----------------------------------------
    .tab
        position: relative
        width: 100%
        margin: calc( $base * 2px) 0
        @include flex-align($align: $center-align, $justify: space-around)
        &::before
            content: ''
            position: absolute
            right: 0
            bottom: 0
            width: 100%
            height: 1px
            background: $grey-clr
        .btn-tab
            position: relative
            padding: calc( $base * 2px) calc( $base * $base * 1px)
            color: $grey-clr
            font-weight: calc( $base * 120 )
            width: 30%
            text-align: $center-align
            border-bottom: 2px solid transparent
            &:hover,
            &:focus,
            &:active,
            &.active
                color: $dark-clr
                border-color: $dark-clr
        @media screen and ( min-width: 768px )
            justify-content: $center-align
            .btn-tab
                width: 20%
                &.Flow
                    display: none
            
    .title
        position: relative
        padding: calc( $base * $base * 2px) 0 calc( $base * 10px) 0
        text-align: $center-align
        display: block
        // @include flex-align($center-align)
        flex-direction: column
        
        > div
            font-family: "Playfair Display", serif
            color: $dark-clr
            font-weight: calc( $base * 200)
            font-size: calc( $base * 20px)
            text-transform: capitalize
            letter-spacing: calc( $letterspace - calc( $base * 1px) )
        img
            position: relative
            display: block
            margin: 0 auto 10px auto
            width: 50px
            aspect-ratio: 1/1
            object-fit: contain
            border-radius: calc( $base * $base * 1px )
        h2
            font-size: calc( $base * 6px )
        span
            max-width: 300px
            padding: 0
            margin: 0
            white-space: pre-line
            color: $grey-clr
            font-size: calc( $base * 3px)
    small
        display: inline-block
        color: $grey-clr
        font-size: 13px
        font-weight: normal
        
    .button
        width: auto
        white-space: nowrap
        border-radius: calc( $base * 6px)
        padding: calc( $base * 2px) calc( $base * 3px)
        background: $dark-clr
        display: inline-flex
        justify-content: $center-align
        align-items: $center-align
        color: $light-clr
        transition: box-shadow 0.2s linear
        gap: calc( $base * $base * 1px)
        .arrow
            width: calc( $base * 4px)
            height: calc( $base * 2px)
            border-bottom: 2px solid $light-clr
            border-right: 2px solid $light-clr
            transform: skew(45deg)
            transition: all 0.5s
        &:hover
            background: $dark-clr
            border-color: $light-clr
            color: $light-clr
            box-shadow: 0 0 0 calc( $base * 1px) rgba($grey-clr ,0.1 ), 0 0 0 calc( $base * 2px) rgba($grey-clr ,0.09 )
            .arrow
                border-color: $light-clr
                transform: rotate(-20deg) skew(45deg)
    .wrapper
        position: relative
        flex-direction: column
        @include flex-align($align: $center-align, $justify: center)
        flex-wrap: wrap
        width: 100%
        gap: calc( $base * 5px)
        margin: calc( $base * 8px) 0
        // padding: 0 calc( $base * 6px)
        @media screen and ( min-width: 768px )
            flex-direction: row
            @include flex-align($align: $start-align, $justify: space-around)
            .wrapper-box
                width: 45% !important

        .wrapper-box
            width: 90%
            height: 100%
            flex-direction: column
            @include flex-align($align: $start-align, $justify: space-between)
            color: $dark-clr
            background: linear-gradient(0deg,rgba($light-clr ,0 ), rgba($light-clr ,0.1 ))
            box-shadow: 0px 0px calc( $base * 1px) rgba($dark-clr, 0.08), 0px calc( $base * 2px) 12px rgba($dark-clr, 0.08)
            border-radius: calc( $base * 5px)
            padding: calc( $base * 6px) 16px
            .wrapper-title
                font-size: calc( $base * 5px)
                margin-bottom: calc( $base * 5px)
                p
                    font-weight: 300
                    font-size: calc( $base * 4px)
                    line-height: 150%
                    margin: calc( $base * 2px) 0 calc( $base * 3px) 0
                    height: 46px
                    overflow: hidden
                    text-overflow: ellipsis
                    -webkit-line-clamp: 2
                    -webkit-box-orient: vertical
                    display: -webkit-box
    button.btn
        position: relative
        display: block
        background: rgba($grey-clr ,0.2 )
        width: fit-content
        height: auto
        margin: 10px auto
        color: $dark-clr

    
    .container
        position: relative
        flex-direction: column
        @include flex-align($align: $center-align, $justify: center)
        width: 100%
        padding: calc( $base * 5px) 0
        gap: calc( $base * 6px )
        &.grid
            display: grid
            grid-template-columns: repeat(2, minmax(max(170px), 1fr))
            gap: calc( $base * 6px ) calc( $base * 3px )
            padding: calc( $base * 5px) calc( $base * 3px )
            .project
                border-radius: 24px
                box-shadow: 0 0 rgba($dark-clr, 0.1), 0 0 rgba($dark-clr, 0.1), 0 0 0 2px rgba($dark-clr, 0.1)
                overflow: hidden

        @media screen and ( min-width: 768px )
            width: calc(100% / 2 - 20px)
            &.grid
                width: 100%
                grid-template-columns: repeat(5, minmax(max(170px), 1fr))
                gap: calc( $base * 6px )
                .project
                    .project-img
                        max-height: none

        .project
            position: relative
            > a
                position: absolute
                width: 100%
                height: 100%
                z-index: 10

            .project-img
                position: relative
                width: 100%
                max-height: 500px
                overflow: hidden
                background: rgba($grey-clr ,0.1 )
                transform-origin: $center-align
                overflow: visible
                transition: opacity 0.5s ease, transform 0.5s ease
                transition-delay: transform 1.2s ease
                
                img
                    width: 100%
                    height: 100%
                    transition: transform 0.5s ease
                    object-fit: cover
                    object-position: top

            .project-content
                @include flex-align($align: $start-align, $justify: $start-align)
                column-gap: calc( $base * 2px)
                margin-top: calc( $base * $base * 1px)
                padding: 0 24px
                .project-pic
                    position: relative
                    width: calc( $base * 10px )
                    aspect-ratio: 1/1
                    img
                        position: absolute
                        top: 0
                        left: 0
                        border-radius: calc( $base * 3px )
                        width: 100%
                        height: 100%
                        object-fit: contain

                .project-detail
                    width: calc( 100% - calc( $base * 7.5px ) )
                    color: $dark-clr
                    > p
                        font-size: calc( $base * $base * 1px)
                        line-height: calc( $base * 5px)
                        margin: 0
                        padding: 0
                        letter-spacing: $letterspace
                        font-weight: 500
                    > span
                        font-size: 12px
                        line-height: calc( $base * 5px)
                        color: $grey-clr
                        letter-spacing: $letterspace
                        // text-overflow: ellipsis
                        overflow: hidden
                        white-space: nowrap
    .project-modules
        width: 100%
        @include flex-align($align: $center-align, $justify: center)
        flex-direction: column
        gap: calc( $base * $base * 1px)
        padding: 0 calc( $base * 4px )
        @media screen and ( min-width: 768px )
            width: calc( 100% / 2 - 20px )
        img
            width: 130px
            aspect-ratio: 1/1
            border-radius: 100%
            object-fit: cover
            @media screen and ( min-width: 768px )
                width: 200px
        ul.contact-menu
            @include flex-align($start-align)
            gap: 24px
            li
                a
                    display: inline-block
                    font-size: 14px
                    color: $dark-clr
                    text-transform: capitalize
                    text-decoration: underline
    // about page use
    .content
        position: relative
        width: 100%
        @include flex-align($center-align)
        flex-direction: column
        gap: calc( $base * $base * 2px)
        margin: 12px 0
        &:has(.contact-menu)
            gap: calc( $base * 6px )
            .title
                padding: 0
        span
            font-size: 14px
            line-height: calc( 14px * 2 )
            text-align: left
            letter-spacing: $letterspace

        h3
            font-size: calc( $base * 5px)
            font-weight: 500
            color: $dark-clr
            margin: 0
            width: 100%
            text-align: left
        .content-list
            position: relative
            line-height: 24px
            font-size: calc( $base * $base * 1px)
            letter-spacing: $letterspace
            font-weight: 500
            width: 100%
            text-align: left
            small
                &::before
                    content: ''
                    position: relative
                    background: $grey-clr
                    display: inline-block
                    width: 6px
                    height: 6px
                    border-radius: 10px
                    margin: 2px calc( $base * 2px)
            .time
                display: block
                font-weight: normal
                color: $dark-clr
                font-size: 14px
                margin-top: 2px
            .content-item
                display: inline-block
                margin-right: 12px
                font-weight: normal
                &::after
                    content: ','
                    position: relative
                    font-size: calc( $base * $base * 1px)
                    color: $dark-clr
                &:last-of-type
                    &::after
                        display: none
    .container-side
        display: inline-flex
        flex-direction: column
        width: 100%
        height: 100%
        padding: calc( $base * 5px ) calc( $base * 6px )
        .side-box
            padding-left: calc( $base * 2px)
            margin-bottom: calc( $base * $base * 1px)
            &.HOME
                padding: 0
            .side-titel
                text-transform: capitalize
                margin-bottom: calc( $base * 2px)
                letter-spacing: $letterspace
            .side-container
                display: flex
                flex-direction: column
                padding-left: calc( $base * 2px)
                gap: calc( $base * 2px)
                li
                    padding: calc( $base * 1px) 0
                    line-height: calc( $base * 6px)
                    color: $grey-clr
                    text-transform: capitalize
                    &::before
                        content: ''
                        display: inline-block
                        width: calc( $base * 1px)
                        height: 2px
                        background: $grey-clr
                        margin-right: calc( $base * 2px)
                        margin-bottom: calc( $base * 1px)
        
    // 每個project的版面控制
    main.project-wrapper
        .container
            flex-wrap: wrap
            overflow: visible
            .container-intro
                grid-column: 1 / 3
                font-size: 1.32px
                @include flex-align($align: $start-align, $justify: center)
                flex-direction: column
                img
                    width: 35px
                    height: 35px
                    object-fit: contain
                    border-radius: calc( $base * 2px)
                    margin-right: calc( $base * 2px)

            .project
                .project-img
                    img
                        object-position: $center-align
                img.wireframe
                    display: none

    &.main.main-project
        .container-side
            display: none
        main
            .container
                .project
                    img.wireframe
                        display: none !important
    &.main.main-wireframe
        main.project-wrapper
            .container
                .project
                    img
                        display: none
                    img.wireframe
                        display: block !important
                        box-shadow: 0 0 0 1px $grey-clr
        @media screen and ( min-width: 768px )
            .container-side
                position: absolute
                left: 0
                top: calc(263px + 10vh)
                display: inline-flex !important
                width: 30%
            .container
                padding-left: 30%
                grid-template-columns: repeat(4, minmax(max(170px), 1fr))

// // ======================

@keyframes  svg-stroke
    0%
        stroke-dashoffset: -2000
        stroke: $dark-clr
    50%
        stroke: $dark-clr
    100%
        stroke-dashoffset: 0
        stroke: $dark-clr