$dark-clr: #050206
$light-clr: #fafafa
$grey-clr: #9d9d9d
$main: #F84519
$letterspace: 0.016em

// -------------------
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..7001,100..700&family=Rubik+Mono+One&display=swap')
// 一些預設樣式

body
    font-family: "Josefin Sans" ,"Roboto" ,"SF Pro TC","PingFang TC",'Noto Sans TC',"微軟正黑體"
a
    text-decoration: none
    color: $light-clr
p, div
    padding: 0
    margin: 0
ul
    margin: 0
// --------------------------

body.main
    scroll-behavior: smooth
    width: 100%
    max-width: 1200px
    margin: 0 auto
    overflow: hidden
    a.logo
        position: sticky
        top: -10px
        left: 40px
        width: 50px
        height: 50px
        z-index: 100
        img
            position: absolute
            top: 0
            left: 0
            width: 100%
            object-fit: contain
            aspect-ratio: 1/1


    .header_nav
        position: fixed
        bottom: 20px
        left: 50%
        transform: translateX(-50%)
        min-width: 200px
        display: flex
        justify-content: space-around
        align-items: center
        height: 50px
        border-radius: 50px
        -webkit-backdrop-filter: blur(16px)
        backdrop-filter: blur(16px)
        background: rgba($light-clr, .05)
        border: 1px solid rgba($light-clr, .05)
        box-shadow: 0 3px 7px #6d6d6d1a
        z-index: 1000
        a
            position: relative
            text-align: center
            white-space: nowrap
            color: $dark-clr
            text-transform: capitalize
            line-height: 50px
            width: 50%
            height: 100%
            transition: 0.2s ease-in-out
            cursor: pointer
            border-radius: 50px
            display: flex
            justify-content: center
            align-items: center
            &:hover,
            &:active,
            &:focus
                color: $main
                font-weight: 600

        .contact-menu
            position: absolute
            bottom: 65px
            width: 100%
            background: $light-clr
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            border-radius: 8px
            padding: 4px 8px
            box-shadow: 0px 0px 5px rgba($light-clr, 0.05), 0px 10px 20px rgba($light-clr, 0.05)
            z-index: 10
            li
                padding: 4px 8px
                border-radius: 8px
                width: 100%
                a
                    color: $dark-clr
                    transition: all 0.02s linear
                    text-align: center
                &:hover
                    a
                        color: $main
    // --------------------------
    main
        position: relative
        width: 100%
        margin-top: 40px
        > section
            position: relative
            top: 0
            height: auto !important
            display: flex
            flex-direction: column
            place-items: center
        section
            height: 100vh
            h1
                font-weight: 140
                font-size: clamp(32px, 72px + 16px, 96px)
                background: $grey-clr
                -webkit-background-clip: text
                background-clip: text
                color: transparent
                font-weight: 900
                -webkit-animation: scale-down linear both
                animation: scale-down linear both
                animation-timeline: scroll()
                animation-range: 0 50vh
            p
                font-size: clamp(0.5rem, 1.8rem, 80px)
                font-weight: 300
                color: $grey-clr
        .content
            position: relative
            width: 100%
            scale: 0.95
            margin-top: 40px
            overflow: hidden
            svg
                position: absolute
                height: 100%
                right: 35%
                top: 0
                overflow: visible !important
                z-index: -1
                path
                    stroke-width: clamp(20px, 40px, 80px)
                .backers
                    path
                        stroke: rgba($dark-clr ,0.05 )
                .fillers
                    path
                        stroke-dasharray: var(--len)
                        stroke-dashoffset: var(--len)
                        stroke: $dark-clr
                        stroke: $main
                        &:nth-of-type(1)
                            --len: 8620
                        &:nth-of-type(2)
                            --len: 7200
                        &:nth-of-type(3)
                            --len: 7952
            section
                display: grid
                align-content: center
                margin: 0 auto 0 0px
                max-width: 400px
                &.list
                    position: relative
                    height: 60vh
                    justify-items: start
                    transition: all 0.2s linear
                    color: $dark-clr
                    &:hover
                        h2
                            color: $main

                h2
                    font-size: clamp(32px, 72px + 16px, 80px)
                    color: $dark-clr
                    width: 100%
                    font-size: 20px
                    white-space: nowrap
                    line-height: 24px
                    margin-bottom: 24px
                    .location
                        font-weight: 240
                        display: inline-block
                        font-size: 20px
                .job
                    font-size: 24px
                    line-height: 16px
                .company
                    font-weight: 200
                    font-size: 16px
                    line-height: 40px

    // 一些共用-----------------------------------------
    .big-title
        position: relative
        display: block
        text-align: center
        width: 100%
        font-size: 32px
        font-weight: 600
        letter-spacing: $letterspace
        color: $dark-clr
        text-transform: uppercase
        padding: 8px 0
        z-index: 100
        a.icon
            position: absolute
            transform: translateX(-40px) scale(0.7)

    .second-title
        position: relative
        font-size: 1.5rem
        padding: 16px 0
        display: block
        text-align: center
        width: 100%
        color: $grey-clr
        z-index: 100
        &::before
            content: ''
            position: absolute
            bottom: 0
            left: 0
            width: 100%
            height: 1px
            background: $dark-clr

    a.btn-default
        padding: 8px 16px
        border-radius: 8px
        background: $light-clr
        color: $dark-clr
        text-transform: capitalize
        font-weight: normal
        font-size: 16px
        letter-spacing: 0.003em
        &:hover,
        &:focus,
        &:active
            color: $main

    .btn-tab
        padding: 8px 16px
        color: $dark-clr
        font-weight: 400
        &:hover,
        &:focus,
        &:active
            font-weight: bold
            box-shadow: inset 0 -2px 0 $light-clr
    
    .sectionPin
        display: flex
        flex-direction: column
        color: $dark-clr
        border-radius: 20px
        width: 100%
        .title
            position: relative
            text-align: center
            margin: 80px 0
            h2
                white-space: nowrap
                color: $dark-clr
                font-weight: 800
                font-size: 5rem
                line-height: 60px
                margin: 0
                padding-bottom: 40px
        .marquee
            position: relative
            width: 100%
            height: 40px
            overflow-x: hidden
            margin: 20px 0
            .marquee-content
                list-style: none
                height: 100%
                width: 100%
                display: flex
                animation: scrolling 20s linear infinite
                gap: 40px
                &:hover
                    animation-play-state: paused
                    li
                        &:hover
                            box-shadow: inset 0 0 0 0.2px $dark-clr, 0 5px 40px rgba($dark-clr ,0.2 )
                li
                    display: flex
                    justify-content: center
                    align-items: center
                    font-size: 14px
                    padding: 4px 8px
                    border-radius: 8px
                    text-transform: uppercase
                    font-weight: 100
                    color: $dark-clr
                    white-space: nowrap
    .wrapper
        position: relative
        display: flex
        justify-content: center
        align-items: center
        gap: 0 40px
        width: 100%
        margin: 12px 0 40px 0
        .wrapper-box
            color: $dark-clr
            background: linear-gradient(0deg,rgba($light-clr ,0 ), rgba($light-clr ,0.1 ))
            box-shadow: 0px 48px 19px rgba(0, 0, 0, 0.01), 0px 27px 16px rgba(0, 0, 0, 0.02), 0px 12px 12px rgba(0, 0, 0, 0.03), 0px 3px 7px rgba(0, 0, 0, 0.04)
            border: 1px solid rgba($dark-clr, .1)
            border-radius: 20px
            padding: 28px 32px
            // width: 50%
            .wrapper-title
                font-size: 20px
                line-height: 40px
                p
                    font-weight: lighter
                    opacity: 0.5
                    font-size: 16px
                    line-height: 150%
                    margin: 20px 0
            .button
                width: auto
                white-space: nowrap
                line-height: 16px
                font-size: 20px
                border-radius: 80px
                padding: 12px 20px
                border: 0.7px solid $dark-clr
                background: linear-gradient(rgba(255, 255, 255, 0.125), rgba(255, 255, 255, 0.075))
                display: inline-flex
                justify-content: center
                align-items: center
                color: $dark-clr
                transition: all 0.2s ease-in
                gap: 16px
                .arrow
                    width: 15px
                    height: 7px
                    border-bottom: 2px solid $dark-clr
                    border-right: 2px solid $dark-clr
                    transform: skew(45deg)
                    transition: all 0.5s
                &:hover
                    background: $dark-clr
                    border-color: $light-clr
                    color: $light-clr
                    .arrow
                        border-color: $light-clr
                        transform: rotate(-20deg) skew(45deg)
    // 前面一開始
    .load-backdrop
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: $light-clr
        display: flex
        justify-content: center
        align-items: center
        color: $dark-clr
        -webkit-backdrop-filter: blur(16px)
        backdrop-filter: blur(16px)
        overflow: hidden
        z-index: 1001
        h2
            font-size: 20px
            font-weight: light
            letter-spacing: $letterspace
// ============================================
// 關於 ==============================
// ============================================
.main.main-about
    overflow-y: scroll
// ============================================
// project ==============================
// ============================================
.main.main-project,
.main.main-wireframe
    overflow-y: scroll
    main
        margin-top: 0px !important
        margin-bottom: 20px
        .container.container-side
            width: 40%
        .container
            position: relative
            display: grid
            grid-template-columns: repeat(5, 1fr)
            // display: flex
            // flex-wrap: wrap
            gap: 32px 12px
            width: 100%
            padding: 20px 0
            overflow-x: auto
            overflow-y: hidden
            .project
                position: relative
                width: calc( 1200px / 5 - 10px )
                height: 100%
                > a
                    position: absolute
                    width: 100%
                    height: 100%
                    z-index: 10

                .project-img
                    position: relative
                    width: 100%
                    border-radius: 20px
                    max-height: 500px
                    overflow: hidden
                    &::before
                        content: ''
                        position: absolute
                        bottom: 12px
                        left: 50%
                        transform: translateX(-50%)
                        background: $light-clr
                        width: 40%
                        height: 6px
                        border-radius: 8px
                    img
                        width: 100%
                        height: 100%
                        object-fit: cover
                        object-position: top

                .project-content
                    display: flex
                    justify-content: flex-start
                    align-items: flex-start
                    column-gap: 8px
                    margin-top: 16px
                    .project-pic
                        position: relative
                        width: 30px
                        height: 30px
                        border-radius: 8px
                        overflow: hidden
                        box-shadow: 0 2px 8px $light-clr
                        img
                            position: absolute
                            top: 0
                            left: 0
                            width: 100%
                            height: 100%
                            object-fit: cover
                    .project-detail
                        width: calc( 100% - 30px )
                        color: $dark-clr
                        > p
                            font-size: 16px
                            line-height: 20px
                            margin: 0
                            padding: 0
                            letter-spacing: $letterspace
                            font-weight: 500
                        > span
                            width: 120px
                            font-size: 12px
                            line-height: 20px
                            color: $grey-clr
                            letter-spacing: $letterspace
                            text-overflow: ellipsis
                            overflow: hidden
                            white-space: nowrap
        .container-side
            display: inline-flex
            flex-direction: column
            width: calc( 100% - 80% - 20px )
            height: 100%
            .side-box
                padding-left: 8px
                margin-bottom: 16px
                &.HOME
                    padding: 0
                .side-titel
                    text-transform: capitalize
                    margin-bottom: 8px
                    letter-spacing: $letterspace
                .side-container
                    display: flex
                    flex-direction: column
                    padding-left: 8px
                    gap: 4px
                    li
                        padding: 4px 0
                        line-height: 20px
                        color: $grey-clr
                        &::before
                            content: ''
                            display: inline-block
                            width: 4px
                            height: 2px
                            background: $grey-clr
                            margin-right: 8px
                            margin-bottom: 3px

    // 每個project的版面控制
    main.project-wrapper
        .container-side
            display: none

        .tab
            position: relative
            margin: 8px 0
            &::before
                content: ''
                position: absolute
                bottom: 0
                width: 100%
                height: 1px
                background: $dark-clr

        .container
            flex-wrap: wrap
            overflow: visible
            .container-intro
                grid-column: 1 / 3
                font-size: 1.32px
                display: flex
                flex-direction: column
                align-items: flex-start
                justify-content: center
                img
                    width: 35px
                    height: 35px
                    object-fit: contain
                    border-radius: 8px
                    margin-right: 8px
                .intro-title
                    font-size: 24px
                    font-weight: 800
                    line-height: 32px
                .intro
                    position: relative
                    line-height: 26px
                    letter-spacing: 0.3px
                    display: block
                    color: $grey-clr
                    font-size: 17px
                    padding: 20px 0px

            .project
                .project-img
                    img
                        object-position: center
                img.wireframe
                    display: none

.main.main-wireframe
    main.project-wrapper
        .container-side
            position: absolute
            display: flex
            padding-top: 20px
        .container-intro
            display: none !important
        .container
            padding-left: 20%
            grid-template-columns: repeat(4, 1fr)
            .project
                img
                    display: none
                img.wireframe
                    display: block !important
// // =====================================
@keyframes scale-down
    to
        scale: 0.75

@supports (animation-timeline: scroll())
    .content
        view-timeline: --content
        -webkit-animation: grow linear both
        animation: grow linear both
        animation-timeline: scroll()
        animation-range: 0 50vh

@keyframes grow
    to
        scale: 1

@supports (animation-timeline: scroll())
    .fillers
        path
            -webkit-animation: fill linear both
            animation: fill linear both
            animation-timeline: --content
            animation-range: entry-crossing -38% exit 12%

@keyframes fill
    to
        stroke-dashoffset: 0
@keyframes scrolling
    0%
        transform: translateX(0)

    100%
        transform: translateX( -300px)
@keyframes blur
    0%, 100%
        transform: scale(0)
    50%
        transform: scale(2)