$dark-clr: #050206
$light-clr: #EBEBEB
$grey-clr: #9d9d9d
$main: #F84519
$letterspace: 0.016em

// -------------------
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..7001,100..700&family=Rubik+Mono+One&display=swap')
// 一些預設樣式

body
    font-family: "Josefin Sans" ,"Roboto" ,"SF Pro TC","PingFang TC",'Noto Sans TC',"微軟正黑體"
a
    text-decoration: none
    color: $light-clr
p, div
    padding: 0
    margin: 0
ul
    margin: 0
// --------------------------

body.main
    scroll-behavior: smooth
    width: 100%
    max-width: 1200px
    margin: 0 auto
    overflow: hidden
    overflow-y: auto
    background: $dark-clr
    a.logo
        position: fixed
        max-width: 130px
        top: 40px
        right: 20%
        left: 0
        width: 100%
        height: 40px
        cursor: pointer
        transform-origin: left
        transition: transform 0.2s linear
        z-index: 1001
        mix-blend-mode: difference
        img
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            object-fit: contain
        p
            position: absolute
            left: 0
            bottom: -40px
            width: auto
            background: $dark-clr
            text-align: center
            padding: 4px 8px
            color: $grey-clr
            font-size: 20px
            white-space: nowrap
            opacity: 0.8

    .header_nav
        position: fixed
        bottom: 20px
        left: 50%
        transform: translateX(-50%)
        min-width: 200px
        display: flex
        justify-content: space-around
        align-items: center
        height: 60px
        border-radius: 50px
        background: $light-clr
        z-index: 1000
        &::before
            content: ''
            position: absolute
            left: 50%
            top: 50%
            height: 50%
            width: 2px
            background: rgba($light-clr ,0.1 )
            border-radius: 50px
            transform: translate(-50%, -50%)

        a
            position: relative
            text-align: center
            white-space: nowrap
            color: $dark-clr
            text-transform: capitalize
            line-height: 60px
            width: 100%
            height: 100%
            transition: 0.2s ease-in-out
            cursor: pointer
            border-radius: 50px
            &:hover,
            &:active,
            &:focus
                color: $main
                font-weight: 600

        .contact-menu
            position: absolute
            bottom: 70px
            width: 100%
            background: $light-clr
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            border-radius: 8px
            padding: 4px 8px
            box-shadow: 0px 0px 5px rgba($light-clr, 0.05), 0px 10px 20px rgba($light-clr, 0.05)
            &::before
                content: ''
                position: absolute
                right: 45%
                bottom: -30px
                width: 0
                height: 0
                border: 15px solid
                border-color: $dark-clr transparent transparent transparent
            li
                padding: 4px 8px
                border-radius: 4px
                width: 100%
                a
                    color: $dark-clr
                    transition: all 0.02s linear
                &:hover
                    background: $main
                    a
                        color: $dark-clr

    // --------------------------
    main
        position: relative
        width: 100%
        margin-top: 40px
        .logoBox
            position: absolute
            left: 80px
            top: -50px
            z-index: 2
            img
                width: 250px
                aspect-ratio: 1/1
                object-fit: contain
            .slogan
                font-size: 1.8rem
                margin-top: -30px
                letter-spacing: 2.2px
                white-space: nowrap
                color: $grey-clr
                font-family: "Playfair Display", serif
                line-height: 35px
                &:last-child
                    margin-top: 8px
                    margin-left: 100px
        > section
            position: relative
            top: 0
            height: auto !important
            display: flex
            flex-direction: column
            place-items: center
        section
            height: 100vh
            h1
                font-weight: 140
                font-size: clamp(32px, 72px + 16px, 96px)
                background: $grey-clr
                -webkit-background-clip: text
                background-clip: text
                color: transparent
                font-weight: 900
                -webkit-animation: scale-down linear both
                animation: scale-down linear both
                animation-timeline: scroll()
                animation-range: 0 50vh
            p
                font-size: clamp(0.5rem, 1.8rem, 80px)
                font-weight: 300
                color: $grey-clr
        .content
            position: relative
            width: 100%
            scale: 0.95
            margin-top: 40px
            overflow: hidden
            svg
                position: absolute
                height: 100%
                right: 8%
                top: 0
                overflow: visible !important
                z-index: -1
                path
                    stroke-width: clamp(20px, 40px, 80px)
                .backers
                    path
                        stroke: rgba($dark-clr ,0.05 )
                .fillers
                    path
                        stroke-dasharray: var(--len)
                        stroke-dashoffset: var(--len)
                        stroke: $dark-clr
                        stroke: $main
                        &:nth-of-type(1)
                            --len: 8620
                        &:nth-of-type(2)
                            --len: 7200
                        &:nth-of-type(3)
                            --len: 7952
            section
                display: grid
                align-content: center
                margin: 0 auto 0 0px
                max-width: 400px
                &.list
                    position: relative
                    height: 60vh
                    justify-items: start
                    transition: all 0.2s linear
                    color: $light-clr
                    &:hover
                        h2
                            color: $main

                h2
                    font-size: clamp(32px, 72px + 16px, 80px)
                    color: $light-clr
                    width: 100%
                    font-size: 2.4rem
                    white-space: nowrap
                    .location
                        font-weight: 240
                        display: inline-block
                        font-size: 1.4rem
                .job
                    font-size: 2.4rem
                    line-height: 44px
                .company
                    font-weight: 200
                    font-size: 1.6rem
                    line-height: 40px

    // 一些共用-----------------------------------------
    .big-title
        position: relative
        display: block
        text-align: center
        width: 100%
        font-size: 32px
        font-weight: 600
        letter-spacing: $letterspace
        color: $light-clr
        text-transform: uppercase
        padding: 8px 0
        z-index: 100
        a.icon
            position: absolute
            transform: translateX(-40px) scale(0.7)

    .second-title
        position: relative
        font-size: 1.5rem
        padding: 16px 0
        display: block
        text-align: center
        width: 100%
        color: $grey-clr
        z-index: 100
        &::before
            content: ''
            position: absolute
            bottom: 0
            left: 0
            width: 100%
            height: 1px
            background: $light-clr
    a.btn-default
        padding: 8px 16px
        border-radius: 4px
        background: $light-clr
        color: $light-clr
        text-transform: capitalize
        font-weight: normal
        font-size: 16px
        letter-spacing: 0.003em
        &:hover,
        &:focus,
        &:active
            background: $main
            color: $dark-clr

    .btn-tab
        padding: 8px 16px
        color: $grey-clr
        font-weight: 400
        &:hover,
        &:focus,
        &:active
            color: $light-clr
            box-shadow: inset 0 -2px 0 $light-clr
    
    .sectionPin
        display: flex
        flex-direction: column
        color: $light-clr
        border-radius: 20px
        width: 100%
        .title
            h2
                white-space: nowrap
                font-weight: 800
                font-size: 5rem
                line-height: 80px
                margin: 0
                padding-bottom: 40px
            p
                opacity: 0.7
                font-weight: 100
                letter-spacing: calc( $letterspace * 2  )
                font-size: 2rem
                white-space: nowrap

        .carouselBox
            .carousel-item
                img
                    aspect-ratio: 9/ 16
                    height: 300px
                    object-fit: contain
        .tool
            display: flex
            justify-content: flex-start
            align-items: center
            gap: 8px
            margin: 12px 0
            img
                display: block
                width: 48px
                height: 48px
                aspect-ratio: 1/1
                object-fit: contain
                border-radius: 8px
                background-color: $dark-clr
        .marquee
            position: relative
            width: 100%
            height: 60px
            overflow-x: hidden
            margin: 40px 0
            .marquee-content
                list-style: none
                height: 100%
                width: 100%
                display: flex
                animation: scrolling 20s linear infinite
                gap: 40px
                &:hover
                    animation-play-state: paused
                    li
                        &:hover
                            box-shadow: inset 0 0 0 0.2px $light-clr, 0 5px 40px rgba($light-clr ,0.2 )
                li
                    display: flex
                    justify-content: center
                    align-items: center
                    font-size: 20px
                    padding: 12px 40px
                    background: rgba($light-clr, 0.05 )
                    border-radius: 20px
                    text-transform: uppercase
                    font-weight: 100
                    color: $light-clr
                    white-space: nowrap
    .wrapper
        position: relative
        width: 100%
        border: 1px solid rgba($light-clr, .2)
        background: linear-gradient($dark-clr 0%, rgba($light-clr, 0.1) 100%)
        border-radius: 20px
        padding: 28px 32px
        margin: 12px 0 40px 0
        color: $light-clr
        box-shadow: 0px 10px 20px rgba($light-clr, 0.05)
        .wrapper-title
            line-height: 40px
            font-size: 32px
            line-height: 40px
            margin-bottom: 20px
            color: $light-clr
            max-width: 50%
            p
                font-weight: lighter
                opacity: 0.5
                font-size: 20px
                line-height: 150%
                margin: 20px 0 40px 0
        .button
            width: auto
            white-space: nowrap
            line-height: 20px
            font-size: 22px
            border-radius: 80px
            padding: 20px 32px
            border: 0.7px solid rgba($light-clr, .8)
            display: inline-flex
            justify-content: center
            align-items: center
            gap: 16px
            .arrow
                width: 15px
                height: 7px
                border-bottom: 2px solid $light-clr
                border-right: 2px solid $light-clr
                transform: skew(45deg)
                transition: all 0.5s
            &:hover
                background: $light-clr
                color: $dark-clr
                border-color: $dark-clr
                .arrow
                    border-color: $dark-clr
                    transform: rotate(-20deg) skew(45deg)
// ============================================
// 關於 ==============================
// ============================================
.about-container
    position: relative
    display: flex
    justify-content: space-evenly
    align-items: flex-end
    width: 100%
    height: 100px
    gap: 40px
    padding: 80px 2vw
    margin: 20rem 0
    z-index: 500

    .col
        flex-direction: column
        align-items: flex-start
        justify-content: flex-start
        padding: 24px 64px
        width: 50%
        color: $light-clr
        border-radius: calc(0.5 * 80px)
        h3
            line-height: 40px
        p
            line-height: 24px
            margin: 4px 0
        .tool
            display: flex
            justify-content: flex-start
            align-items: center
            gap: 8px
            margin: 10px 0
        img
            display: block
            width: 40px
            height: 40px
            object-fit: cover
            border-radius: 8px
            padding: 0
// ============================================
// project ==============================
// ============================================
.main.main-project,
.main.main-wireframe
    main
        margin-top: 60px !important
        margin-bottom: 30px
        .container.container-side
            width: 40%
        .container
            position: relative
            display: grid
            grid-template-columns: repeat(5, 1fr)
            gap: 24px
            width: 100%
            padding: 20px 0
            overflow-x: auto
            overflow-y: hidden
            .project
                position: relative
                width: fit-content
                height: 100%
                > a
                    position: absolute
                    width: 100%
                    height: 100%
                    z-index: 10

                .project-img
                    position: relative
                    width: 100%
                    padding: 4px
                    border-radius: 32px
                    overflow: hidden
                    &::before
                        content: ''
                        position: absolute
                        bottom: 12px
                        left: 50%
                        transform: translateX(-50%)
                        background: $light-clr
                        width: 40%
                        height: 6px
                        border-radius: 8px
                    img
                        width: 100%
                        height: 100%
                        object-fit: cover
                        border-radius: 28px
                        object-position: top

                .project-content
                    display: flex
                    justify-content: flex-start
                    align-items: flex-start
                    column-gap: 16px
                    margin-top: 20px
                    .project-pic
                        position: relative
                        width: 28px
                        height: 28px
                        border-radius: 4px
                        overflow: hidden
                        box-shadow: 0 2px 8px $light-clr
                        img
                            position: absolute
                            top: 0
                            left: 0
                            width: 100%
                            height: 100%
                            object-fit: cover
                    .project-detail
                        width: calc( 100% - 25px )
                        color: $light-clr
                        > p
                            font-size: 16px
                            margin: 0
                            padding: 0
                            letter-spacing: $letterspace
                            font-weight: 500
                        > span
                            width: 120px
                            font-size: 14px
                            line-height: 24px
                            color: $grey-clr
                            letter-spacing: $letterspace
                            text-overflow: ellipsis
                            overflow: hidden
                            white-space: nowrap
        .container-side
            display: inline-flex
            flex-direction: column
            width: calc( 100% - 80% - 20px )
            height: 100%
            .side-box
                padding-left: 8px
                margin-bottom: 16px
                &.HOME
                    padding: 0
                .side-titel
                    text-transform: capitalize
                    margin-bottom: 8px
                    letter-spacing: $letterspace
                .side-container
                    display: flex
                    flex-direction: column
                    padding-left: 8px
                    gap: 4px
                    li
                        padding: 4px 0
                        line-height: 20px
                        color: $grey-clr
                        &::before
                            content: ''
                            display: inline-block
                            width: 4px
                            height: 2px
                            background: $grey-clr
                            margin-right: 8px
                            margin-bottom: 3px

    // 每個project的版面控制
    main.project-wrapper
        .container-side
            display: none

        .tab
            position: relative
            margin: 8px 0
            &::before
                content: ''
                position: absolute
                bottom: 0
                width: 100%
                height: 1px
                background: $light-clr
            a.btn-tab
                position: relative
                &:hover,
                &:active,
                &:focus
                    color: $light-clr

        .container
            flex-wrap: wrap
            overflow: visible
            .container-intro
                grid-column: 1 / 3
                font-size: 1.32px
                display: flex
                flex-direction: column
                align-items: flex-start
                justify-content: center
                img
                    width: 35px
                    height: 35px
                    object-fit: contain
                    border-radius: 4px
                    margin-right: 8px
                .intro
                    position: relative
                    line-height: 26px
                    letter-spacing: 0.3px
                    display: block
                    color: $grey-clr
                    font-size: 17px
                    padding: 20px 0px

            .project
                // width: 23%
                .project-img
                    box-shadow: inset 0 0 0 4px $light-clr
                    padding: 3px
                    img
                        object-position: center
                img.wireframe
                    display: none

.main.main-wireframe
    main.project-wrapper
        .container-side
            position: absolute
            display: flex
            padding-top: 20px
        .container-intro
            display: none !important
        .container
            display: inline-flex
            padding-left: 20%
            .project
                width: 22%
                img
                    display: none
                img.wireframe
                    display: block !important
// // =====================================
@keyframes scale-down
    to
        scale: 0.75

@supports (animation-timeline: scroll())
    .content
        view-timeline: --content
        -webkit-animation: grow linear both
        animation: grow linear both
        animation-timeline: scroll()
        animation-range: 0 50vh

@keyframes grow
    to
        scale: 1

@supports (animation-timeline: scroll())
    .fillers
        path
            -webkit-animation: fill linear both
            animation: fill linear both
            animation-timeline: --content
            animation-range: entry-crossing -38% exit 12%

@keyframes fill
    to
        stroke-dashoffset: 0
@keyframes scrolling
    0%
        transform: translateX(0)

    100%
        transform: translateX( -300px)
